/* _buttons.scss */

/* Classe de base pour les boutons */
.button {
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    cursor: pointer;
    border: none;
}
  /* Bouton principal avec dégradé */
.button--primary {
    background: linear-gradient(135deg, #FF79DA, #9356DC);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    &:hover {
    background: linear-gradient(135deg, lighten(#FF79DA, 10%), lighten(#9356DC, 10%));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}