/* _animations.scss */

/* @keyframes pour le battement de cœur */
@keyframes heartBeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* @keyframes pour le remplissage de l'arrière-plan et la croissance */
@keyframes likeFill {
    0% {
        color: linear-gradient(to top, #9356DC 0%, transparent 100%); /* Dégradé partant du bas */
        transform: scale(1); /* Taille normale au départ */
    }
    100% {
        color: #9356DC; /* Couleur finale pleine du cœur */
        transform: scale(1.2); /* Légère croissance */
    }
}

/* @keyframes pour l'explosion finale */
@keyframes explode {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation pour faire disparaître le loader après 3 secondes */
@keyframes fadeOutLoader {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1; /* Garde visible pendant 80% du temps */
    }
    100% {
        opacity: 0;
        visibility: hidden; /* Cache complètement après l'animation */
    }
}

/* Animation pour la barre de progression */
@keyframes loadProgressBar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Animation pour faire apparaître le message */
@keyframes fadeInMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation pour faire "rétrécir" la carte à la fin */
@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9); /* Légère réduction de la taille avant disparition */
    }
}