/* _variables.scss */

// Couleurs
$primary-color: #9356DC;     // Violet
$secondary-color: #FF79DA;   // Rose
$tertiary-color: #99E2D0;    // Vert

// Polices
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;

// Espacements
$padding-base: 10px;
$margin-base: 20px;
