/* ------------------------------------------------------- _variables.scss----------------------------------------------------- 
Fichier : _variables.scss
   Auteur : Trackozor
   Date de création : 25 septembre 2024
   Dernière mise à jour : 

   Description :
Ce fichier contient toutes les variables globales utilisées pour styliser
le projet. Les variables incluent les couleurs, polices, espacements,
tailles de texte, bordures, etc. Ces variables permettent de garder une 
cohérence dans l'apparence du site et facilitent la maintenance du code.

   Sections couvertes :
   - Couleurs
   - Polices
   - Espacements
   - Tailles des polices
   - Bordures arrondies
   - Tailles d'images

   Utilisation :
   Importer ce fichier dans les fichiers SCSS où les variables seront utilisées pour assurer une mise en page cohérente et adaptable.
--------------------------------------------------------------------------------------------*/
/*---------------------------------------- Couleurs -------------------------------*/

/*Principale*/

$primary-color:#0a0909; // noir
$secondary-color:#89C8FA; //Bleu clair
$tertiary-color:#003A68; //Bleu foncé

/*fond*/

$primary-background-color:#EAEAEA; //Gris clair

/*--------- Boutons-------- */

$button--search-primary-color: #9356DC;     /* Violet */
$button--search-secondary-color: #FF79DA;   /* Rose */

/*--------- Bouton "Nouveau"-------------*/

$button--new-first-color:#99E2D0;   /* Vert clair */
$button--new-secondary-color:#008766; /* Vert foncé */

/*------------------------------------------Polices--------------------------------*/

$font-primary: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;

/* ----------------------------------------Espacements----------------------------*/

/* ----------------------------Portrait----------------------*/

$padding-vh-base: 2vh; /* Espace intérieur  de base correspondant à 2% de la hauteur de l'écran */
$padding-vh-x2: 4vh; /* Espace intérieur 2 fois supérieur soit 4 % de la hauteur de l'écran*/
$padding-vh-x3: 6vh; /* Espace intérieur 3 fois supérieur soit 6% de la hauteur de l'écran*/
$padding-vh-d2: 1vh; /* Espace intérieur 2 fois inférieur soit 1% de la hauteur de l'écran*/
$padding-vh-d4: 0.5vh; /* Espace intérieur 4 fois inférieur soit 0.5 % de la hauteur de l'écran*/

$margin-vh-base: 2vh; /* Marge de base correspondant à 2 % de la hauteur de l'écran*/
$margin-vh-x2: 4vh; /* Marge 2 fois supérieur soit 4 % de la hauteur de l'écran*/
$margin-vh-x3: 6vh; /*Marge 3 fois supérieur soit 6% de la hauteur de l'écran*/
$margin-vh-d2: 1vh; /* Marge 2 fois inférieur soit 1 % de la hauteur de l'écran*/
$margin-vh-d4: 0.5vh; /* Marge 4 fois inférieur soit 0.5 %de la hauteur de l'écran*/

$gap-vh-base: 2vh;
$gap-vh-x2: 4vh;
$gap-vh-x3: 6vh;
$gap-vh-d2: 1vh;

// Paysage
$padding-vw-base: 2vw;
$padding-vw-x2: 4vw;
$padding-vw-x3: 6vw;
$padding-vw-d2: 1vw;
$padding-vw-d4: 0.5vw;

$margin-vw-base: 2vw;
$margin-vw-x2: 4vw;
$margin-vw-x3: 6vw;
$margin-vw-d2: 1vw;

$gap-vw-base: 2vw;
$gap-vw-x2: 4vw;
$gap-vw-x3: 6vw;
$gap-vw-d2: 1vw;

// --------------------------------------- Taille des police----------------------// 
// Portrait

$font-size-vh-base: 2vh;
$font-size-vh-title: 3vh;
$font-size-vh-middle: 1.5vh;
$font-size-vh-d2: 1vh;
$font-size-vh-d4: 0.5vh;
$font-size-vh-x2: 4vh;
$font-size-vh-x3: 6vw;

// Paysage
$font-size-vw-primary: 2.2vw;   
$font-size-vw-title: 3.5vw;
$font-size-vw-middle: 3vw;
$font-size-vw-d2: 1vw;
$font-size-vw-d4: 0.5vw;
$font-size-vw-x2: 4vw;




//---------------------------------------Mise en évidence ( GRAS )----------------//

$font-weight-bold: 700;
$font-weight-h-bold: 900;
$font-weight-l-bold: 100;

//----------------------------------------Arrondis-----------------------------//

// Portrait

$border-radius-vh-base: 2vh;
$border-radius-vh-x2: 4vh;
$border-radius-vh-d2: 1vh;

// Paysage  

$border-radius-vw-base: 2vw;
$border-radius-vw-x2: 4vw;
$border-radius-vw-d2: 1vw;

//---------------------------------------------------------------//