/* _variables.scss */

// Couleurs des boutons
$button-primary-color: #9356DC;     // Violet
$button-secondary-color: #FF79DA;   // Rose
$button-tertiary-color: #99E2D0;    // Vert
$primary-color:#0000; // noir
// Polices
$font-primary: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

// Espacements
$padding-base: 10px;
$margin-base: 20px;
