/*_Section-bandeau.scss*/

/*---- Conteneur parent  bandeau-----------*/
.bandeau  {
    display: block; /**/
    text-align: center; /* Aligne le texte dans l'axe horizontal*/
    align-content: center; /**/
    margin: $margin-vh-x2 0; /**/
    
}

/* Titre */
.bandeau h2{
    padding:$padding-vh-d4 $padding-vh-d2; /*Espace intérieur haut et bas et gauche et droit correspondant respectivement à 0.5 % et 1% de la hauteur de l'écran */
}

/* Texte */
.bandeau p {
    padding: $padding-vh-d2 $padding-vw-base; /**/
    margin-bottom: $margin-vh-x2; /**/
    font-weight: $font-weight-l-bold; /**/
}

/*-------- Conteneur parent liste */
.fonctionnement {
    margin: 8vh 0; 
    display: block;
    align-items:  center; 
    justify-content: center; 
}

.fonctionnement ol {
    display: block;
    justify-content: center;

}
/*----- Icône Store -----*/
.fonctionnement .fonctionnement-content .fa-store {
    color:$button--search-primary-color;
}
ol li {
    display: flex;
    margin:$margin-vh-x2 0;
    align-items: center;
    font-weight: $font-weight-bold;
    justify-content: center;
    position: relative;
    z-index: 1;

}

ol li i {
    color:grey;
    font-size: $font-size-vh-base;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    left:3.5vh;
    position:absolute ;
}

ol li .li-txt{
    display: flex;
    position: relative;  
    z-index: 1;
    background-color:$primary-background-color;
    padding:$padding-vh-base  $padding-vh-d2;
    align-items: center;
    width:92.5%;
    border-radius:$border-radius-vh-base;
    box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2);
    justify-content: center;
    

}
ol li .puce_num {
    background-color: $button--search-primary-color;
    border-radius:50%;
    height: 3vh;
    width:3vh;
    display: flex;
    position: absolute;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1.4vh;

}
/**/

/* Media query pour le mode paysage (landscape) */
@media (max-width: 63.99rem) and (orientation: landscape) {
  /* Conteneur parent bandeau */
.bandeau  {
    margin: $margin-vw-x2 0; /* Utilisation de vw au lieu de vh pour adapter aux écrans plus larges */
}

  /* Titre */
.bandeau h2 {
      padding: $padding-vw-d4 $padding-vw-d2; /* Adapter les espacements pour le mode paysage */
}

  /* Texte */
.bandeau p {
    padding: $padding-vw-d2 $padding-vw-base;
    margin-bottom: $margin-vw-x2;
}

  /* Conteneur parent liste */
.fonctionnement {
    margin: $margin-vw-base $margin-vw-d2; /* Utilisation de vw pour le mode paysage */
}

  /* Liste des étapes */
ol li {
    margin: $margin-vw-base 0; /* Réduction des marges pour le mode paysage */
    gap: $gap-vw-base; /* Ajuster l'espacement en utilisant vw */
}

  /* Icône */
ol li i {
    font-size: $font-size-vw-primary;
    margin: 0 $margin-vw-d4;
    left: 4vw;
}

  /* Texte des étapes */
ol li .li-txt {
    padding: $padding-vw-base $padding-vw-x4; /* Adapter les padding pour landscape */
    margin: $margin-vw-d4 $margin-vw-d4;
    border-radius: $border-radius-vw-base;
}

  /* Numéros des étapes */
ol li .puce_num {
    height: 3vw;
    width: 3vw;
    font-size: $font-size-vw-middle; /* Ajuster la taille de la police pour le mode paysage */
}
}
/*--------------------------Desktop--------------------------*/
@media (min-width: 63.991rem)  { 
    
.bandeau  {
    margin: $margin-vw-x2 0; /* Utilisation de vw au lieu de vh pour adapter aux écrans plus larges */
}

  /* Titre */
.bandeau h2 {
      padding: $padding-vw-d4 $padding-vw-d2; /* Adapter les espacements pour le mode paysage */
}

  /* Texte */
.bandeau p {
    padding: $padding-vw-d2 $padding-vw-base;
    margin-bottom: $margin-vw-x2;
}

  /* Conteneur parent liste */


  /* Icône */
ol li i {
    font-size: $font-size-vw-primary;
    margin: 0 $margin-vw-d4;
    left: 3vw;
}

  /* Texte des étapes */
ol li .li-txt {
    padding: $padding-vw-base $padding-vw-x2; /* Adapter les padding pour landscape */
    margin: $margin-vw-d4 $margin-vw-d4;
    border-radius: $border-radius-vw-base;
    font-size: $font-size-vw-primary;
    width: 22.5vw;
}

  /* Numéros des étapes */
ol li .puce_num {
    height: 3vw;
    width: 3vw;
    font-size: $font-size-vw-middle; /* Ajuster la taille de la police pour le mode paysage */
    left: -0.2vw;
}

.fonctionnement ol  {
    display: flex;  
    justify-content: space-between; 
}
}