/*_section-restaurant.scss*/

section-restaurant {
    display: flex;
    flex-direction: column;
    margin: $margin-vh-d2  $margin-vh-x4;
    width:90%;
    display: block;
    align-items: center;
}
