/* Nom du fichier      : _section-bandeau.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 27/09/24                                                                          */
/* Description         :  _section-                                                                         */
/*    Styles pour la section bandeau et la liste de fonctionnement                                          */
/*     comprenant les ajustements pour les différents breakpoints (mobile landscape, desktop)               */
/*     et la gestion de l'affichage flex pour les étapes avec icônes.                                       */
/*--------------------------------------------------------------------------------------------------------  */
/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions :                                                                                             */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */

/* ----- Import mixin-----------------------*/
@import '../../mixins.scss'; /* Chemin du fichier */

/*---- Conteneur parent  bandeau-----------*/
.bandeau  {
    display: flex;/* Utilise flexbox pour aligner les éléments*/
    flex-direction: column; /* alignement en colonne*/
    text-align: center; /* Aligne le texte dans l'axe horizontal*/
    justify-content: center; /*centre dans l'axe horizontale aà partir du centre*/
    margin: $margin-vh-base auto; /* Marge verticale et horizontale respectivement égale à 2% et 1% de la hauteur de l'écran*/
    align-items: center; /* Aligne les éléments dans la hauteur*/
    width: 90%;

    /*  Landscape  */
    @include mobile-landscape {
    margin: $margin-vw-base $margin-vw-x2;
    }

}


/* Titre */
.bandeau h2{
    padding:$padding-vh-d4 0; /*Espace intérieur haut et bas et gauche et droit correspondant respectivement à 0.5 % et 1% de la hauteur de l'écran */

    /*  Landscape  */
    @include mobile-landscape {
    padding: $padding-vw-d4 0;
    }

}

/* Texte */
.bandeau p {
    padding: $padding-vh-d2 $padding-vw-base; /**/
    margin-bottom: $margin-vh-base; /**/
    font-weight: $font-weight-l-bold; /**/

    /*  Landscape  */
    @include mobile-landscape {
    padding: $padding-vw-d2 $padding-vw-base;
    margin-bottom: $margin-vw-base;
    }

}

/*-------- Conteneur parent liste */
.fonctionnement { 
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: center;
    gap:3vh;
    margin: 10vh auto;
    width: 90%;

    /*  Landscape  */
    @include mobile-landscape {
    margin: 10vw 3vw;
    gap: 3vw;
    }
}


ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    justify-content: center;

    /*  Landscape  */
    @include mobile-landscape {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        justify-content: center;
    }

    @include desktop {
        flex-direction: row;
        align-items: center;
        gap: $gap-vw-base;
        justify-content: space-around;
    }
}

/*----- Icône Store -----*/
.fa-store {
    color:$button--search-primary-color;
}
ol li {
    display: flex;
    margin:$margin-vh-base $margin-vh-d2;
    align-items: center;
    font-weight: $font-weight-bold;
    position: relative;
    z-index: 1;
    width: 100%;
    justify-content: space-around;

    /*  Landscape  */
    @include mobile-landscape {
    margin:$margin-vw-base $margin-vw-d2;
    align-items: center;
    font-weight: $font-weight-bold;
    position: relative;
    z-index: 1;
    width: 100%;
    justify-content: space-around;
    }
}
.li-txt h3 {
    margin-right: $margin-vh-d2;
    font-size: 2vh;

    /*  Landscape  */
    @include mobile-landscape {
    margin-right: $margin-vw-d2;
    }
}

i {
    color:grey;
    font-size: $font-size-vh-base;
    margin: 0  $margin-vh-base 0  $margin-vh-x2; 
    
    /*  Landscape  */
    @include mobile-landscape {
    font-size: $font-size-vw-base;
    margin: 0  $margin-vw-base 0  $margin-vw-x2;
    }
}

.li-txt{
    display: flex;
    position: relative;  
    z-index: 1;
    left:1vh;
    border-radius:$border-radius-vh-base;
    box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2);
    width:100%;
    height:5vh;
    align-items: center;

    /*  Landscape  */
    @include mobile-landscape {
    left:1vw;
    border-radius:$border-radius-vw-base;
    box-shadow: 0 0.5vw 0.6vw rgba(0, 0, 0, 0.2);
    width:100%;
    height:5vw;
    align-items: center;
    }

}
ol li .puce_num {
    background-color: $button--search-primary-color;
    border-radius:50%;
    height: 3vh;
    width:3vh;
    display: flex;
    position: absolute;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1.4vh;
    animation: pulse 1.5s ease-in-out 2; /* L'animation dure 1.5s et se répète */

    /*  Landscape  */
    @include mobile-landscape {
    border-radius:50%;
    height: 3vw;
    width:3vw;
    font-size:1.4vw;
    
    }

}


