/*_section-restaurant.scss*/

#section-restaurants{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    @include mobile-landscape {
        margin: 0 auto
    }
}

#section-restaurants h2 {
    margin:1vh;

    @include mobile-landscape {
        margin: 1vw;
    }
}

.card {
    opacity: 0; /* Les cartes commencent invisibles */
    transform: translateX(100%); /* Les cartes commencent hors de l'écran (à droite) */
    animation: slideIn 0.6s ease-out forwards; /* Animation qui fait glisser et apparaître les cartes */
}

/* Animation pour chaque carte avec des délais différents */
#palette.card {
    animation-delay: 0.2s; /* La première carte commence après 0.2s */
}

#enchantee.card {
    animation-delay: 0.5s; /* La deuxième carte commence après 0.4s */
}

#francaise.card {
    animation-delay: 1.1s; /* La troisième carte commence après 0.6s */
}

#delice.card  {
    animation-delay: 1.5s; /* La quatrième carte commence après 0.8s */
}