/*_Section-bandeau.scss*/

.bandeau  {
    display: block;
    text-align: center;
    align-content: center;
    margin: $margin-vh-x2 0;
    
}

/* Titre */
.bandeau h2{
    padding:$padding-vh-d4 $padding-vh-d2;
}

/**/
.bandeau p {
    padding: $padding-vh-d2 $padding-vw-base;
    margin-bottom: $margin-vh-x2;
    font-weight: $font-weight-l-bold;;
}

.fonctionnement {
    margin: 8vh $margin-vh-d2;
   
}


.fonctionnement .fonctionnement-content .fa-store {
    color:$button--search-primary-color;
}