/*_Section-bandeau.scss*/

.bandeau  {
    display: block;
    text-align: center;
    align-content: center;
    margin: $margin-vh-x2 0;
    
}

/* Titre */
.bandeau h2{
    padding:$padding-vh-d4 $padding-vh-d2;
}

/**/
.bandeau p {
    padding: $padding-vh-d2 $padding-vw-base;
    margin-bottom: $margin-vh-x2;
    font-weight: $font-weight-l-bold;;
}

.fonctionnement {
    margin: 8vh $margin-vh-d2;

    
}

.fonctionnement .puce_num {
    background-color: $button--search-primary-color;
    border-radius:50%;
    height: 3vh;
    width:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1.4vh
}
.fonctionnement ol {
    display: flex;
    flex-direction: column;
}
.fonctionnement .fonctionnement-content {
    height: 4vh;
    margin: $margin-vh-base 0;
}