
/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _animations.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 07/12/24                                                                          */
/* Description         : Styles pour les animations                                                            */
/*                                                                                                          */
/*                                                                                                          */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions : révision suite a non-conformité livrable                                                                                            */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */



/*----------------------------- Animation disparition du loader  -----------------------*/

@keyframes fadeOutLoader {
    0% {
        opacity: 1; /* Loader visible au début */
    }
    80% {
        opacity: 1; /* Reste visible jusqu'à 80% de l'animation */
    }
    100% {
        opacity: 0; /* Disparaît progressivement */
        visibility: hidden; /* Devient complètement invisible */
    }
}


/*------------------------- Rotation du sablier  ----------------*/

@keyframes rotateClock {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } /* Rotation complète du sablier*/
}


/*------------------ Animation barre de progression ----------------*/

@keyframes loadProgressBar {
    0% {
        width: 0%; /* Barre vide au départ */
    }
    100% {
        width: 100%; /* Barre remplie à la fin de l'animation */
    }
}

/*------- Animation apparition progressive d'un message -----------------*/

@keyframes fadeInMessage {
    0% {
        opacity: 0; /* Le message est invisible au début */
    }
    100% {
        opacity: 1; /* Le message devient complètement visible */
    }
}

/*---------------- Animation glissement de droite à gauche ---------------*/

@keyframes slideIn {
    from {
        opacity: 0; /* L'élément est invisible au départ */
        transform: translateX(100%); /* Hors écran à droite */
    }
    to {
        opacity: 1; /* L'élément devient visible */
        transform: translateX(0); /* Glisse jusqu'à sa position finale */
    }
}







