/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _variables.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 15/10/24                                                                           */
/* Dernière modification:                                                                         */
/* Description         : listes de toutes les variables utilisées                                           */
/*                        Comprend: Taille , couleur, affichage conditionnel                                */
/*                                                                                                          */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions :                                                                                             */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */


/* Couleurs */

$primary-color:#0a0909; /* noir */
$secondary-color:#89C8FA; /* Bleu clair */
$tertiary-color:#003A68; /*Bleu foncé*/

/*------- fond-----*/
$primary-background-color:#f9f9f9; /*Gris clair*/

/*--------- Boutons-------- */
$button--search-primary-color: #9356DC;     /* Violet */
$button--search-secondary-color: #FF79DA;   /* Rose */

/* Bouton "Nouveau" */
$button--new-primary-color:#99E2D0;   /* Vert clair */
$button--new-secondary-color:#008766; /* Vert foncé */

/* Police */

$font-primary:'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;

/* Espacements */

$padding-xsmall: 0.25rem; /* Très petit padding */
$padding-small: 0.5rem;   /* Petit padding */
$padding-base: 1rem;      /* Padding de base */
$padding-medium: 1.5rem;  /* Padding moyen */
$padding-large: 2rem;     /* Grand padding */
$padding-xlarge: 3rem;    /* Très grand padding */

/* Padding basé sur la hauteur de la fenêtre (vh) pour des éléments verticaux */

$padding-medium-vh: 2vh;  /* Padding moyen proportionnel à la hauteur */
$padding-large-vh: 3vh;   /* Grand padding proportionnel à la hauteur */


/* Padding basé sur des pourcentages (proportionnel à l’élément parent) */
$padding-small-pct: 1%;   /* Petit padding en % */
$padding-base-pct: 2%;    /* Padding de base en % */
$padding-large-pct: 4%;   /* Grand padding en % */
$padding-xlarge-pct: 6%;  /* Très grand padding en % */

/* Marges basées sur rem */
$margin-xsmall: 0.25rem;  /* Très petite marge */
$margin-small: 0.5rem;    /* Petite marge */
$margin-base: 1rem;       /* Marge de base 

/* Gaps basés sur rem */
$gap-xsmall: 0.25rem;     /* Très petit gap */
$gap-small: 0.5rem;       /* Petit gap */
$gap-base: 1rem;          /* Gap de base */
$gap-medium: 1.5rem;      /* Gap moyen */
$gap-large: 2rem;         /* Grand gap */
$gap-xlarge: 3rem;        /* Très grand gap */
$gap-xxlarge: 4rem;       /* Gap extrêmement grand */

/* Gaps basés sur la largeur de la fenêtre (vw) */
$gap-small-vw: 1vw;       /* Petit gap proportionnel à la largeur */
$gap-medium-vw: 2vw;      /* Gap moyen proportionnel à la largeur */
$gap-large-vw: 3vw;       /* Grand gap proportionnel à la largeur */
$gap-xlarge-vw: 5vw;      /* Très grand gap proportionnel à la largeur */

/* Gaps basés sur des pourcentages */
$gap-small-pct: 1%;       /* Petit gap en % */
$gap-base-pct: 2%;        /* Gap de base en % */
$gap-large-pct: 4%;       /* Grand gap en % */
$gap-xlarge-pct: 6%;      /* Très grand gap en % */



/* Taille des police*/ 

$font-size-base: 1rem; 
$font-size-title: 1.3rem; 
$font-size-middle: 0.7rem; 
$font-size-d2: 0.5rem; 
$font-size-d4: 0.25rem; 
$font-size-x2: 2rem; 

/*  Mise en évidence ( GRAS )*/
$font-weight-medium: 500;  
$font-weight-bold: 700;  
$font-weight-black: 900; 



/* Arrondis des bordures (border-radius) */
$border-radius-base: 0.5rem;   
$border-radius-medium: 1rem;   
$border-radius-large: 2rem;  

/* Ombres */
$shadow-small: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1); 
$shadow-medium: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2); 
$shadow-large: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);   


/* Taille des objets basée sur la largeur de la fenêtre (vw) */
$object-size-xsmall: 1vw;   /* Très petit objet */
$object-size-small: 2vw;    /* Petit objet */
$object-size-medium: 3vw;   /* Taille moyenne */
$object-size-large: 5vw;    /* Objet plus grand */
$object-size-xlarge: 10vw;  /* Très grand objet */
$object-size-xxlarge: 15vw; /* Objet extrêmement grand */



/* Affichage badge- dans les cartes  */

$badge-palette: flex; /* Gère l affichage du badge dans la carte:  flex= affiché, none= masqué*/
$badge-enchantee: flex; /* Gère l affichage du badge dans la carte: flex= affiché, none= masqué*/
$badge-delices: none; /* Gère l affichage du badge dans la carte: flex= affiché, none= masqué*/
$badge-francaise: none; /* Gère l affichage du badge dans la carte flex= affiché, none= masqué*/


/* Affichage conditionnel du loader   */
$loader-active: flex
;/* Gère l'affichage du loader  flex =affiché none = masqué */