/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _variables.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 06/10/24                                                                          */
/* Description         : listes de toutes les variables utilisées                                           */
/*                        Comprend: Taille , couleur, affichage conditionnel                                */
/*                                                                                                          */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions :                                                                                             */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */

/*-------------------------------------------------------------------------------------------------------*/
/*---------------------------------------- Couleurs ----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/*------Principale -----*/
$primary-color:#0a0909; /* noir */
$secondary-color:#89C8FA; /* Bleu clair */
$tertiary-color:#003A68; /*Bleu foncé*/

/*------- fond-----*/
$primary-background-color:#f9f9f9; /*Gris clair*/

/*--------- Boutons-------- */
$button--search-primary-color: #9356DC;     /* Violet */
$button--search-secondary-color: #FF79DA;   /* Rose */

/* Bouton "Nouveau" */
$button--new-primary-color:#99E2D0;   /* Vert clair */
$button--new-secondary-color:#008766; /* Vert foncé */


/*------------------------------------------------------------------------------------------------------*/
/*------------------------------------------Polices-----------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

$font-primary: 'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif;


/*------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------Espacements--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/* ----------------------------Portrait----------------------*/
/* Espace intérieur */
$padding-base: 2%; /* Espace intérieur  de base correspondant à 2% de la hauteur de l'écran */
$padding-middle: 3%; /* Espace intérieur de base correspondant  à 3 % de la hauteur de l' écran */
$padding-x2: 4%; /* Espace intérieur 2 fois supérieur soit 4 % de la hauteur de l'écran*/
$padding-x3: 6%; /* Espace intérieur 3 fois supérieur soit 6% de la hauteur de l'écran*/
$padding-x4: 8%; /* Espace intérieur 4 fois supérieur soit 8 % de la hauteur de l'écran */
$padding-d2: 1%; /* Espace intérieur 2 fois inférieur soit 1% de la hauteur de l'écran*/
$padding-d4: 0.5%; /* Espace intérieur 4 fois inférieur soit 0.5 % de la hauteur de l'écran*/

/* Marge */
$margin-base: 2%; /* Marge de base correspondant à 2 % de la hauteur de l'écran*/
$margin-middle: 3%; /* Marge de base correspondant  à 3 % de la hauteur de l' écran */
$margin-x2: 4%; /* Marge 2 fois supérieur soit 4 % de la hauteur de l'écran*/
$margin-x3: 6%; /*Marge 3 fois supérieur soit 6% de la hauteur de l'écran*/
$margin-x4: 8%; /*Marge 4 fois supérieur soit 8% de la hauteur de l'écran*/
$margin-d2: 1%; /* Marge 2 fois inférieur soit 1 % de la hauteur de l'écran*/
$margin-d4: 0.5%; /* Marge 4 fois inférieur soit 0.5 %de la hauteur de l'écran*/

/* Espace */
$gap-base: 2%; /* Espace de base correspondant à 2% de la hauteur de l'écran */
$gap-middle: 3%; /* Espace de base correspondant  à 3 % de la hauteur de l' écran */
$gap-x2: 4%; /* Espace 2 fois supérieur soit 4% de la hauteur de l'écran*/
$gap-x3: 6%; /* Espace 3 fois supérieur soit 6% de la hauteur de l'écran*/
$gap-x4: 8%; /* Espace 4 fois supérieur soit 8%  de la hauteur de l'écran*/
$gap-d2: 1%; /* Espace 2 fois inférieur soit 1% de la hauteur de l'écran*/
$gap-d4: 0.5%; /* Espace 4 fois inférieur soit 0.5 % de la hauteur de l'écran */



/*-------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------- Taille des police---------------------------------------------------------*/ 
/*-------------------------------------------------------------------------------------------------------------------*/

/*-------------------- Portrait-----------------------------------*/
$font-size-base: 1rem; /* Taille de police de base correspondant à 2% de la hauteur de l'écran*/
$font-size-title: 1.2rem; /* Taille de police des titres soit 3% de la hauteur de l'écran*/
$font-size-middle: 0.7rem; /* Taille de polices générique correspondant à 1.5% de la hauteur de l'écran*/
$font-size-d2: 0.5rem; /* Taille de police  2 fois inférieur soit 1% de la hauteur de l'écran*/
$font-size-d4: 0.25rem; /**/
$font-size-x2: 2rem; /* Taille de police 2 fois supérieur soit 4 % de la hauteur de l'écran*/
$font-size-x3: 3rem; /* Taille de police 3 fois supérieur soit 6 % de la hauteur de l'écran*/


/*------------------------------------------------------------------------------------------------------*/
/*---------------------------------------Mise en évidence ( GRAS )--------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

$font-weight-bold: 700; /* Mise en evidence accentué*/
$font-weight-h-bold: 900;/* Mise en evidence très marqué */
$font-weight-l-bold: 100;/* Mie en evidence très légère = absence evidence*/


/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Arrondis------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/*--------------------- Portrait ----------------------------------------------*/
$border-radius-base: 1rem;/* Arrondis de base dont le rayon de courbure correspond à 2 % de la hauteur de l'écran*/
$border-radius-x2: 2rem; /* Arrondis de courbure 2 fois supérieur soit 4% de la hauteur de l’écran */
$border-radius-d2: 0.5rem; /* Arrondis de courbure 2 fois inférieur soit 1 % de la hauteur de l'écran*/

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------Ombres -----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
$border-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2); /* ombre pour portrait*/


/*--------------------------------------------------------------------------------------------------*/
/*-------------------------------------- Taille des objets (valeur générique)-----------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*--------------------- Portrait ----------------------------------------------*/
$object-size-base: 2%; /* Taille des objets correspondant à 2% de la hauteur de l'écran*/
$object-size-middle: 3%; /* Taille des objets correspondant à 3% de la hauteur de l'écran*/
$object-size-x2: 4%; /* Taille des objets correspondant à 4 % de la hauteur de l'écran */
$object-size-x3: 6%; /* Taille des objets correspondant à 6 %  de la hauteur de l 'écran*/
$object-size-x2-5: 5%; /* Taille des objets  correspondant à 5% de la hauteur de l'écran*/
$object-size-x5: 10%; /* Taille des objets  correspondant à 10% de la hauteur de l'écran*/
$object-size-x7-5: 15%; /*  Taille des objets correspondant à 15% de la hauteur de l'écran*/
$object-size-x10: 20%;/* Taille de objets  correspondant à 20 % de la hauteur de l 'écran*/
$object-size-x12-5: 25%; /* Taille des objets correspondant à 25 % de la hauteur de l'écran*/
$object-size-x15: 30%; /* Taille des objets correspondant à 30 % de la hauteur de l'écran*/
$object-size-x20: 40%; /* Taille des objects correspondant à 40 % de la hauteur de l'écran*/
$object-size-x25: 50%; /* Taille des objects correspondant à 50 % de la hauteur de l'écran*/


/*---------------------------------------------------------------------------------------------------*/
/*----------------------------- Affichage badge- dans les cartes-------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/

$badge-palette: flex; /* Gère l affichage du badge dans la carte:  flex= affiché, none= masqué*/
$badge-enchantee: flex; /* Gère l affichage du badge dans la carte: flex= affiché, none= masqué*/
$badge-delices: none; /* Gère l affichage du badge dans la carte: flex= affiché, none= masqué*/
$badge-francaise: none; /* Gère l affichage du badge dans la carte flex= affiché, none= masqué*/

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------- Affichage conditionnel du loader   -----------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

$loader-active: flex;/* Gère l'affichage du loader  block =affiché none = masqué */