/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _section-bandeau.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 07/12/24                                                                          */
/* Description         : Styles pour la section bandeau et la liste de fonctionnement,                      */
/*                       avec ajustements pour les différents breakpoints (mobile landscape, desktop)       */
/*                       et gestion de l'affichage flex pour les étapes avec icônes.                        */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions : organisation et restructuration fichier                                                     */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------------------------*/
/*                   SECTION Bandeau                                   */
/*--------------------------------------------------------------------*/

/* Conteneur parent bandeau */

.bandeau {
    display: flex; /* Définit un conteneur flexbox */
    flex-direction: column; /* Les éléments enfants sont empilés en colonne */
    text-align: center; /* Centre le texte horizontalement */
    justify-content: center; /* Centre les éléments verticalement dans le conteneur */
    align-items: center; /* Centre les éléments horizontalement dans le conteneur */
    width: 100%; /* Le bandeau prend toute la largeur disponible */
    background-color: #F6F6F6; /* Couleur de fond gris clair */
    margin: 0 auto; /* Centre horizontalement le bandeau avec des marges automatiques */
    padding: 5% 0; /* Ajoute du padding vertical (haut et bas) de 5% */
    margin-bottom: 4%; /* Ajoute un espacement en bas de 4% */

    /* Tablette */
    @include tablette {
        padding: 2% 0; /* Réduit le padding vertical à 2% sur les écrans tablettes */
    }

    /* Desktop */
    @include desktop {
        padding: 1% 0; /* Réduit encore le padding vertical à 1% sur les écrans desktop */
    }

    /* Large desktop */
    @include large-desktop {
        width: 100%; /* Maintient la largeur complète sur grand écran */
        max-height: 180px; /* Limite la hauteur maximale à 180px */
        padding: 1% 0; /* Padding vertical maintenu à 1% */
    }
}


/*--------------------------------------------------------------------*/
/*  Titre */

.bandeau h2 {
    width: 75%; /* Définit une largeur de 75% pour le titre */
    font-size: 1.5rem; /* Taille de la police par défaut (petite pour les écrans mobiles) */
    margin: 2% 0 3% 0; /* Espacement extérieur : 2% en haut, 3% en bas, 0 sur les côtés */

    /* Tablette */
    @include tablette {
        font-size: 2rem; /* Augmente la taille de la police à 2rem sur tablette */
    }
    
    /* Desktop */
    @include desktop {
        padding: 0.5% 0; /* Ajoute un padding vertical de 0.5% de la largeur de l'écran */
        font-size: 2.2rem; /* Taille de police légèrement plus grande sur desktop */
        margin: 0; /* Supprime tout espace extérieur autour du h2 */
    }

    /* Large desktop */
    @include large-desktop {
        font-size: 2.3rem; /* Taille de la police encore plus grande sur large desktop */
        margin: 1% 0; /* Réintroduit un léger espacement vertical (1% en haut et en bas) */
    }
}


/*--------------------------------------------------------------------*/
/* Texte */

.bandeau p {
    width: 90%; /* Le paragraphe occupe 90% de la largeur de son conteneur */
    color: #353535; /* Couleur du texte (gris foncé) */
    font-size: 18px; /* Taille de la police par défaut pour les petits écrans */
    padding: 2% 0; /* Ajoute un padding vertical de 2%, aucun padding horizontal */
    margin-bottom: 2%; /* Espacement extérieur uniquement en bas */
    font-weight: 500; /* Épaisseur intermédiaire pour le texte */

    /* Desktop */
    @include desktop {
        font-size: 1rem; /* Réduit la taille de la police à 1rem sur les écrans desktop */
        margin: 0; /* Supprime la marge en bas */
    }

    /* Large desktop */
    @include large-desktop {
        font-size: 1.5rem; /* Augmente la taille de la police pour les grands écrans */
        margin: 0; /* Supprime toujours la marge en bas */
    }
}

/*--------------------------------------------------------------------*/
/*                   SECTION FONCTIONNEMENT                           */
/*--------------------------------------------------------------------*/

/* Conteneur parent liste  */
.fonctionnement {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    flex-direction:column;
    position: relative; /* Position relative pour gérer les éléments internes */
    justify-content: center; /* Centre les éléments sur l'axe horizontal */
    background-color:#Ffffff ;
    padding:4% 0;

    /*-- Tablette --*/
    @include tablette {
        margin: 5% 0; /* Ajoute une marge en haut/bas de 0.5% de la largeur de l'écran */
        gap: 2%;
    }

    /* Desktop */
    @include desktop {
        padding: 5%;
        margin:0.5%
    }

    /*-- large desktop --*/
    @include large-desktop {
        padding: 2% 0;
        width:100%;
        margin: 0 auto;

    }
}

/*----------------------------------------------------------------*/
/*  Titre */
.fonctionnement h2 {
    margin: 1rem 0;
    padding-left: $padding-xlarge-pct;


    /*-- tablette --*/
    @include tablette {
        margin: 5% 0; /* Ajoute une marge en haut/bas de 0.5% de la largeur de l'écran */
    }

    /* Desktop */
    @include desktop {
        font-size: 1.5rem; /* Taille de police de 1.5rem pour desktop */
        margin:1% 0;
    }

    /* Large desktop */
    @include large-desktop {
        font-size:1.5rem; /* Taille de police de 1.5rem pour large desktop */
        margin:3% 0 ;
    }
}

/*----------------------------------------------------------------*/
/*  Liste */

.fonctionnement ol {
    display: flex; /* Utilise flexbox pour l'affichage des éléments de la liste */
    flex-direction: column; /* Alignement en colonne */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    width: 90%; /* Largeur de 90% pour le conteneur */
    justify-content: center; /* Centre les éléments horizontalement */
    margin:2% auto;


    /* Desktop */
    @include desktop {
        flex-direction: row; /* Alignement en ligne pour desktop */
        gap: 0.5rem; /* Espace entre les éléments de la liste pour desktop */
        justify-content: space-around; /* Espace autour des éléments pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        flex-direction: row; /* Alignement en ligne pour large desktop */
        gap: 2rem; /* Espace entre les éléments de la liste pour large desktop */
        justify-content: space-around; /* Espace autour des éléments pour large desktop */
        margin: 0 auto;
        width: 90%;
    }
}

/*-----------------------------------------------------------------*/
/* Liste : Lignes */
.fonctionnement li {
    display: flex; /* Utilise flexbox pour aligner les éléments de la liste */
    margin: $margin-base ; /* Marge autour des éléments */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    font-weight: $font-weight-bold; /* Gras du texte */
    position: relative; /* Position relative pour gérer des éléments internes */
    z-index: 1; /* Superposition sur l'axe Z */
    width: 95%; /* Prend toute la largeur du conteneur */
    justify-content: space-around; /* Espace autour des éléments de la liste */
    border-radius: 1.25rem;
    

    /*-- Tablette --*/
    @include tablette {
        margin: $margin-base; /* Ajustement des marges pour tablette */
        gap: 2%;
        justify-content: center;
    }

    /* Desktop */
    @include desktop {
        width:100%;
    }

    /* Large desktop */
    @include large-desktop {
        margin: $margin-base $margin-xsmall; /* Ajustement des marges pour large desktop */
        gap:1%;
        max-width: 1024px;
        margin: 0 auto;
        width: 80%;

    }
}


/*-----------------------------------------------------------------*/
/* Texte */

.li-txt {
    display: flex; /* Utilise flexbox pour aligner le texte */
    position: relative; /* Position relative pour gérer des éléments internes */
    z-index: 1; /* Superposition sur l'axe Z */
    padding: 8% ;
    border-radius: 1.25rem; /* Bord arrondi pour le conteneur du texte */
    box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre légère pour le conteneur */
    width: 100%; /* Largeur du texte à 100% du conteneur */
    align-items: center; /* Centre le texte sur l'axe vertical */
    justify-content:space-around;
    background-color: #f6f6f6;
    font-size: 1.2rem; /* Taille de la police */


    /* Tablette */
    @include tablette {
        padding: 2% 10%; /* Ajustement du padding pour tablette */
        justify-content: flex-start;
        gap: 10%;
        
    }

    /* Desktop */
    @include desktop {
        width: 100%;
        gap:1%;
        left: 1vw; /* Décalage du texte pour desktop */
        border-radius: $border-radius-base; /* Bord arrondi pour desktop */
        box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre pour desktop */
        font-size: 0.9rem;

    }

    /* Large desktop */
    @include large-desktop {
        left: 1vw; /* Décalage du texte pour large desktop */
        border-radius: $border-radius-base; /* Bord arrondi pour large desktop */
        box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre pour large desktop */
        font-size: 1rem; /* Taille de la police pour large desktop */
    }
}

/*----------------------------------------------------------------*/
/*puces*/

.puce_num {
    background-color: $button--search-primary-color; /* Couleur de fond de l'icône numérotée */
    border-radius: 50%; /* Forme arrondie */
    height: 1.8rem; /* Hauteur de l'icône numérotée */
    width: 1.8rem; /* Largeur de l'icône numérotée */
    display: flex; /* Utilise flexbox pour centrer le numéro */
    position: absolute; /* Positionnement absolu à l'intérieur de la liste */
    left: -4%; /* Place l'icône sur le bord gauche */
    z-index: 2; /* Superposition de l'icône au-dessus du texte */
    justify-content: center; /* Centre le contenu de l'icône */
    align-items: center; /* Centre verticalement le contenu de l'icône */
    color: white; /* Couleur blanche pour le numéro */
    font-size: 0.8rem; /* Taille de la police du numéro */

    /* Tablette */
    @include tablette {
        left: -2%;
        width: 1.8rem;
        height:1.8rem;
    }

    
    /* Large desktop */
    @include large-desktop {
        height: 1.8rem;
        width: 1.8rem; /* Décalage de l'icône numérotée pour large desktop */
        left:2%
    }
}

/*-------------------------------------------------------------------*/
/* Icône de la liste */

.fonctionnement i {
    color: #7E7E7E; /* Couleur grise pour les icônes */
    font-size: 1.4rem; /* Taille de la police pour les icônes */
    padding-bottom: 2%;

    /*-- Tablette --*/
    @include tablette {
        font-size: $font-size-title;
    }


    /* Desktop */
    @include desktop {
        font-size: $font-size-base; /* Taille de la police ajustée pour desktop */
        margin: 0 $margin-small 0 $margin-small; /* Marges ajustées pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        font-size: $font-size-base; /* Taille de la police ajustée pour large desktop */
        margin: 0 $margin-base 0 $margin-base; /* Marges ajustées pour large desktop */
    }
}

/*----------------------------------------------------------------*/
/* Icône personnalisé etape 3 */

#etape-3 i {
    color: $button--search-primary-color; /* Couleur de l'icône store */
}


/*--------------------------------------------------------------------*/
/*                   SECTION RESTAURANT                               */
/*--------------------------------------------------------------------*/

/* Conteneur */
#section-restaurants {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
    margin: 0 auto;
    gap: 5%; /* Réduit l'espacement pour les petits écrans */
    height: auto; /* Laisse la section s'adapter à la hauteur du contenu */
    padding: 6% 0;

    /*-- Tablette --*/
    @include tablette {
        padding-top:10%;
        width: 100%;
    }

    @include desktop {
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        width: 90%;
        gap:1%;
        padding:2% 0;
        
    }

    /*-- large desktop --*/
    @include large-desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding:2% 0;
    }
}

/*----------------------------------------------------------------*/
/* Titre de la section restaurants */

#section-restaurants h2 {
    margin:$margin-base 5%;

    @include desktop {
        width:95%; 
        
    }

    /*-- large desktop --*/
    @include large-desktop {
        width: 95%;
    }

}



