/* _header.scss */

header {
    background-color: $primary-background-color;
    color: $primary-color;
    font-size: $font-size-vh-base;
    font-weight: $font-weight-bold;
  }
  
  header .logo {
    font-size: $font-size-vh-base;
  }
  
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  