/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _menu.scss                                                                       */
/* Auteur              : Trackozor                                                                        */
/* Date de création    : 25/09/24                                                                         */
/* Dernière modification: 27/09/24                                                                        */
/* Description         : Style pour les menus avec des images et des ajustements spécifiques               */
/*                                                                                                       */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Conteneur Principal du Menu -------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
main  {
    width: 100%;
}


.menu {
    background-color: #f9f9f9; /* Couleur de fond grise claire */
    border-radius: 1.5rem 1.5rem 0 0; /* Bord arrondi en haut */
    padding-top: 10%; /* Padding en haut de la carte menu */
    position: relative; /* Positionnement relatif pour gérer les éléments internes */
    z-index: 1; /* Superposition des éléments */
    height: auto; /* Hauteur automatique en fonction du contenu */
    bottom: 3rem; /* Positionnement du bas du conteneur */
    justify-content: space-between; /* Espace entre les éléments internes */
    margin: 0 auto; /* Centrage horizontal */
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    flex-direction: column; /* Alignement vertical des éléments */
    width: 100%;
    max-width: 1024px;


    /* Desktop */
    @include desktop {
        width: 80%; /* Largeur à 80% pour desktop */
        border-radius: 3vw 3vw 0 0; /* Bord arrondi adapté à la largeur de l'écran */
        padding-top: 4vw; /* Padding en haut ajusté pour desktop */
        bottom: 2vw; /* Positionnement du bas ajusté pour desktop */
    }

}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Images Menu Palette --------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Image principale pour "Palette du goût */
.menu-image {
    height: 40vh; /* Hauteur de l'image à 25% de la hauteur de l'écran */
    width: 100%; /* Prend toute la largeur du conteneur */
    object-position: 50% 90%; /* Positionnement de l'image à 75% en vertical */
    object-fit: cover; /* Ajustement de l'image pour couvrir le conteneur */

    /* Desktop */
    @include desktop {
        height: 27vw; /* Hauteur de l'image ajustée pour desktop */
        width: 100%; /* Largeur à 100% pour desktop */
        object-position: 50% 60%; /* Positionnement de l'image pour desktop */
    }

    /*-- large desktop --*/
    @include large-desktop {
        height: 27vw; /* Hauteur de l'image ajustée pour large desktop */
        width: 100%; /* Largeur à 100% pour large desktop */
        object-position: 50% 60%; /* Positionnement de l'image pour large desktop */
    }

}

.menu ul {
    @include desktop{
        width:70%;
        margin:0 auto;
    }
}

/* Style des sous-titres h3 dans le menu */
.menu h3 {
    margin: 3% 0 2% 2%; /* Marges autour du sous-titre */
    border-bottom: $button--new-primary-color 0.5vh solid; /* Bordure en bas du sous-titre */
    width: 5vh; /* Largeur de la bordure en fonction de la hauteur de l'écran */
    padding-bottom: 1vh; /* Padding en bas du sous-titre */

    @include desktop {
        margin-left: 17%;
    }

}


/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Images Menu note enchantée --------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Image principale pour "La note enchantée */
.menu-image-alt3 {
    height: 30vh; /* Hauteur de l'image à 25% de la hauteur de l'écran */
    width: 100%; /* Prend toute la largeur du conteneur */
    object-position: 50% 80%; /* Positionnement de l'image à 75% en vertical */
    object-fit: cover; /* Ajustement de l'image pour couvrir le conteneur */

    /*tablette*/
    @include tablette {
        height: 45vw; /* Hauteur de l'image adaptée à la largeur de l'écran pour tablette */
        width: 100%; /* Largeur à 100% pour tablette */
        object-position: 50% 65%; /* Positionnement de l'image pour tablette */
        object-fit: cover; /* Ajustement de l'image pour tablette */
    }

    /* Desktop */
    @include desktop {
        height: 35vw; /* Hauteur de l'image ajustée pour desktop */
        width: 100%; /* Largeur à 100% pour desktop */
        object-position: 50% 60%; /* Positionnement de l'image pour desktop */
    }

    /*-- large desktop --*/
    @include large-desktop {
        height: 30vw; /* Hauteur de l'image à 40% de la hauteur de l'écran pour large desktop */
        width: 100%; /* Largeur à 100% pour large desktop */
        object-position: 50% 60%; /* Positionnement de l'image pour large desktop */
    }
}
/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------- Images Menu Alt - Délice des Sens --------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Image pour le menu alternatif "Au délice des sens" */
.menu-image-alt {
    height: 30vh; /* Hauteur de l'image à 25% de la hauteur de l'écran */
    width: 100%; /* Largeur à 100% */
    object-position: 50% 5%; /* Positionnement bas de l'image */
    object-fit: cover; /* L'image couvre tout le conteneur */

    /* Tablette */
    @include tablette {
        height: 40vw; /* Hauteur de l'image adaptée à la largeur de l'écran pour tablette */
        width: 100%; /* Largeur à 100% pour tablette */
        object-position: 50% 85%; /* Positionnement de l'image pour tablette */
        object-fit: cover; /* Ajustement de l'image pour tablette */
    }

    /* Desktop */
    @include desktop {
        height: 35vw; /* Hauteur de l'image ajustée pour desktop */
        width: 100%; /* Largeur à 100% pour desktop */
        object-position: 50% 85%; /* Positionnement de l'image pour desktop */
    }
    
    /*--large desktop*/
    @include large-desktop {
        height: 30vw; /* Hauteur de l'image à 40% de la hauteur de l'écran pour large desktop */
        width: 100%; /* Largeur à 100% pour large desktop */
        object-position: 50% 80%; /* Positionnement bas de l'image pour large desktop */
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------- Images Menu Alt 2 - À la française ------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Image pour le menu alternatif 2 "À la française" */
.menu-image-alt2 {
    height: auto; /* Hauteur de l'image à 25% de la hauteur de l'écran */
    width: 100%; /* Largeur à 100% */
    object-position: 50% 115%; /* Positionnement bas de l'image */
    object-fit: cover; /* L'image couvre tout le conteneur */

    
    /* Tablette */
    @include tablette {
        height:40vw;
        width: 100%; /* Largeur à 100% pour tablette */
        object-position: 55% 95%; /* Positionnement bas de l'image pour tablette */
        object-fit: cover; /* Ajustement de l'image pour tablette */
    }

    /* Desktop */
    @include desktop {
        height: 35vw; /* Hauteur de l'image ajustée pour desktop */
        width: 100%; /* Largeur à 100% pour desktop */
        object-position: 50% 85%; /* Positionnement bas de l'image pour desktop */
    } 

    /*--large desktop*/
    @include large-desktop {
        height: 35vw; /* Hauteur de l'image adaptée à la largeur de l'écran pour large desktop */
        width: 100%; /* Largeur à 100% pour large desktop */
        object-position: 50% 85%; /* Positionnement bas de l'image pour large desktop */
        object-fit: cover; /* Ajustement de l'image pour large desktop */
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Titre Menu -----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/*-- Ajustement personnalisé du titre la note enchantée-- */
.menu .title {
    display: flex; /* Utilisation de flexbox pour l'alignement des éléments */
    font-family: $font-title; /* Police de caractère du titre */
    font-size: $font-size-title; /* Taille de la police adaptée à la hauteur de l'écran */
    margin:0 2%;
    justify-content:space-between; /* Espacement entre les éléments */
    
    /*Desktop */
    @include desktop {
        justify-content: center;
        gap:5%;
    }

    /*-- Large Desktop --*/
    @include large-desktop {
        justify-content: center;
        gap:5%
    }
}
.menu .title h2 {
    @include tablette {
        font-size: 1.6rem;
    }
    @include desktop {
        font-size:1.8rem;
    }
    @include large-desktop {
        font-size:1.7rem;
    }
}

/*------------------------------------------------------------------------------------------*/
/*-- Ajustement titre a la francaise --*/
.menu .title1 {
    display: flex; /* Utilisation de flexbox pour l'alignement des éléments */
    font-family: $font-title; /* Police de caractère du titre */
    font-size: $font-size-title; /* Taille de la police adaptée à la hauteur de l'écran */
    margin:0 2%; /* Padding à gauche du titre */
    justify-content: space-between; /* Espacement entre les éléments */
    padding-bottom: 5%;

    /*-- desktop --*/
    @include desktop {
        gap: 5%;
        justify-content: center;
    }
    
    /*--large desktop --*/
    @include large-desktop {
        gap: 5%; /* Padding à gauche du titre */
        justify-content: center;
    }
}

.title1 h2 {
    @include tablette {
        font-size: 1.6rem;
    }
    @include desktop {
        font-size: 1.8rem;
    }
    @include large-desktop {
        font-size: 1.7rem;
    }
}
/*-------------------------------------------------------------------------------------------*/
/* Titre la palette du gout ajustement personnalisé*/
.menu .title2 {
    display: flex; /* Utilisation de flexbox pour l'alignement des éléments */
    font-family: $font-title; /* Police de caractère du titre */
    font-size: $font-size-title; /* Taille de la police adaptée à la hauteur de l'écran */
    justify-content: space-between;
    margin: 0 2%;
    padding-bottom:5%;

    
    /*-- desktop --*/
    @include desktop {
        gap: 5%;
        justify-content: center;
    }

    /*--large desktop --*/
    @include large-desktop {
        gap: 5%;
        justify-content: center;
    
    }
}
.title2 h2 {
    @include tablette {
        font-size: 1.6rem;
    }
    @include desktop {
        font-size: 1.8rem;
    }
    @include large-desktop {
        font-size: 1.7rem;
    }
}

/*---------------------------------------------------------------------------------------------------*/
/*-- Ajustement titre le delices des sens*/
.menu .title3 {
    display: flex; /* Utilisation de flexbox pour l'alignement des éléments */
    font-family: $font-title; /* Police de caractère du titre */
    font-size: $font-size-title; /* Taille de la police adaptée à la hauteur de l'écran */
    margin: 0 2%;
    padding-bottom: 5%;
    justify-content: space-between;
    
    /*-- desktop --*/
    @include desktop {
        gap: 5%;
        justify-content: center;
    }

    /*--large desktop --*/
    @include large-desktop {
        justify-content: center;
        gap: 5%;
    }
}

.title3 h2 {
    @include tablette {
        font-size: 1.6rem;
    }
    @include desktop {
        font-size: 1.8rem;
    }
    @include large-desktop {
        font-size: 1.7rem;
    }
}


/*-------------------------------------- Boutons Commander dans le Menu ----------------------------------*/


/* Style du conteneur pour les boutons principaux */
.menu .button--primary {
    display: flex; /* Utilise flexbox pour aligner les boutons */
    align-items: center; /* Centre verticalement les boutons */
    justify-content: center; /* Centre horizontalement les boutons */
}

/* Style des boutons principaux */
.menu .button--primary {
    width: 20vh; /* Largeur du bouton adaptée à la hauteur de l'écran */
    margin: 2vh auto; /* Marge automatique pour centrer horizontalement et 2vh en haut/bas */
}
