.menu {
    background-color:#f9f9f9 ;
    border-radius: 3vh 3vh 0 0;
    padding-top: 4vh;
    position: relative;
    z-index: 1;
    width: 100%;
    height:auto;
    bottom: 2vh;
    justify-content: space-between;
    margin:0  auto;
    display: flex;
    flex-direction: column;

    @include mobile-landscape {
        margin: 0 auto;
    }
    
    @include desktop {
        width: 80% ;
        border-radius: 3vw 3vw 0 0;
        padding-top: 4vw;
        bottom: 2vw;
        
    }
}


.menu-image {
    height:35vh;
    width: 100%;
    object-position: 50% 75%;
    object-fit: cover;
    
    /* Landscape */
    @include mobile-landscape {
        height: 30vh;
        width: 100%;
        object-position: 50% 75%;
        object-fit: cover;
    }
    
    /* Desktop */
    @include desktop {
        height: 30vw;
        width: 100%;
        object-position: 50% 60%;
    }
}


.menu-image-alt {
    height: 25vh;
    width: 100%;
    object-position: 50% 95%;
    object-fit: cover;

    /* Landscape */
    @include mobile-landscape {
        height: 20vh;
        width: 100%;
        object-position: 50% 95%;
        object-fit: cover;
    }
    
    /* Tablette */
    @include tablette {
        height: 40vw;
        width: 100%;
        object-position: 50% 85%;
        object-fit: cover;
    }
    /* Desktop */
    @include desktop {
        height: 40vw;
        width: 100%;
        object-position: 50% 85%;
    }
}
.menu .title {
    display: flex;
    font-family: $font-title;
    font-size: $font-size-vh-title;
    padding-left:1vh;
    justify-content: space-between;
    
    /* Landscape */
    @include mobile-landscape {
        font-size: $font-size-vw-title;
        padding-left: 1vw;
    }
    
    /* Desktop */
    @include desktop {
        display: flex;
        justify-content: center;
    }
    
}

.menu h3 {
    margin:3vh 0vh 2vh 1vh;
    border-bottom: $button--new-primary-color  0.5vh solid ;
    width: 5vh;
    padding-bottom: 1vh; 
}
.menu .button--primary {
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu .button--primary {
    width: 20vh;
    margin: 2vh auto;
}