/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _section-bandeau.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 27/09/24                                                                          */
/* Description         : Styles pour la section bandeau et la liste de fonctionnement,                      */
/*                       avec ajustements pour les différents breakpoints (mobile landscape, desktop)       */
/*                       et gestion de l'affichage flex pour les étapes avec icônes.                        */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions :                                                                                             */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */

/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------- Conteneur parent bandeau -------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

.bandeau  {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    flex-direction: column; /* Alignement des éléments en colonne */
    text-align: center; /* Aligne le texte au centre horizontalement */
    justify-content: center; /* Centre le contenu sur l'axe horizontal */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    max-width: 1024px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------------ Titre ---------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
.bandeau h2 {
    width: 70%;
    font-size: 1.3rem;
    padding:2% 0;
    margin-top: 10%; /* Ajoute un padding en haut et en bas de 0.5% de la hauteur de l'écran */
    text-align: center;
    justify-content: center;

    /*-- tablette --*/
    @include tablette {
        padding: 0.5% 0; /* Padding haut/bas correspondant à 0.5% de la largeur de l'écran */
        margin-top: 5%;

    }
    
    /* Desktop */
    @include desktop {
        padding:0.5% 0; /* Padding haut/bas correspondant à 0.5% de la largeur de l'écran */
        font-size: 2rem;
        margin-top:2%
    }

    /* Large desktop */
    @include large-desktop {
        margin-top:2%;
        font-size: 2.2rem;
    }
}
.button--primary {
    margin: 2vh 0;
}
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------- Texte ----------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
.bandeau p {
    padding: $padding-base 0; /* Padding haut/bas et gauche/droite */
    margin-bottom: 2vh 0; /* Marge en bas du paragraphe */
    font-weight: $font-weight-l-bold; /* Gras du texte */

}

/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------ Conteneur parent liste --------------------------------------------------- */
/*----------------------------------------------------------------------------------------------------------*/

.fonctionnement {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    flex-direction: column; /* Alignement en colonne */
    position: relative; /* Position relative pour gérer les éléments internes */
    justify-content: center; /* Centre les éléments sur l'axe horizontal */
    gap: $gap-x2; /* Ajoute un espace entre les éléments de 3% de la hauteur de l'écran */
    margin: $margin-x2 auto; /* Marge verticale égale à 10% de la hauteur de l'écran, avec centrage horizontal */

    /*-- Tablette --*/
    @include tablette {
        margin: 5% 0; /* Ajoute une marge en haut/bas de 0.5% de la largeur de l'écran */
        gap: 2%;
    }

    /* Desktop */
    @include desktop {
        padding: 5%;
        margin:0.5%
    }

    /*-- large desktop --*/
    @include large-desktop {
        padding: 2%;
        max-width: 1024px;
        margin: 0 auto;
        width: 80%;
    }
}
.fonctionnement h2 {
    margin: $margin-x2 0;
    padding-left: 6%;


    /*-- tablette --*/
    @include tablette {
        margin: 5% 0; /* Ajoute une marge en haut/bas de 0.5% de la largeur de l'écran */
    }

    /* Desktop */
    @include desktop {
        font-size: 1.5rem; /* Taille de police de 1.5rem pour desktop */
        margin:1% 0;
    }

    /* Large desktop */
    @include large-desktop {
        font-size:1.5rem; /* Taille de police de 1.5rem pour large desktop */
        margin:3% 4%
    }
}
/*----------------------------------------------------------------------------------------------------------*/
/*-------------------------------- Liste -------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

ol {
    display: flex; /* Utilise flexbox pour l'affichage des éléments de la liste */
    flex-direction: column; /* Alignement en colonne */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    width: 90%; /* Largeur de 95% pour le conteneur */
    justify-content: center; /* Centre les éléments horizontalement */
    margin:0 auto;


    /* Desktop */
    @include desktop {
        flex-direction: row; /* Alignement en ligne pour desktop */
        gap: 2rem; /* Espace entre les éléments de la liste pour desktop */
        justify-content: space-around; /* Espace autour des éléments pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        flex-direction: row; /* Alignement en ligne pour large desktop */
        gap: 2rem; /* Espace entre les éléments de la liste pour large desktop */
        justify-content: space-around; /* Espace autour des éléments pour large desktop */
        max-width: 1024px;
        margin: 0 auto;
        width: 90%;
        margin-right: 6%;
    }
}

/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------------ Liste : Lignes ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

ol li {
    display: flex; /* Utilise flexbox pour aligner les éléments de la liste */
    margin: $margin-x3 $margin-base; /* Marge autour des éléments */
    align-items: center; /* Centre les éléments sur l'axe vertical */
    font-weight: $font-weight-bold; /* Gras du texte */
    position: relative; /* Position relative pour gérer des éléments internes */
    z-index: 1; /* Superposition sur l'axe Z */
    width: 95%; /* Prend toute la largeur du conteneur */
    justify-content: space-around; /* Espace autour des éléments de la liste */
    align-content: center;
    

    /*-- Tablette --*/
    @include tablette {
        margin: $margin-base $margin-base; /* Ajustement des marges pour tablette */
        gap: 2%;
        justify-content: center;
    }

    /* Desktop */
    @include desktop {
        margin: $margin-base $margin-d2; /* Ajustement des marges pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        margin: $margin-base $margin-d4; /* Ajustement des marges pour large desktop */
        gap:1%;
        max-width: 1024px;
        margin: 0 auto;
        width: 80%;

    }
}

/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------- Liste Texte -----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

.li-txt {
    display: flex; /* Utilise flexbox pour aligner le texte */
    position: relative; /* Position relative pour gérer des éléments internes */
    z-index: 1; /* Superposition sur l'axe Z */
    padding: 4% 10% ;
    border-radius: $border-radius-base; /* Bord arrondi pour le conteneur du texte */
    box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre légère pour le conteneur */
    width: 100%; /* Largeur du texte à 100% du conteneur */
    align-items: center; /* Centre le texte sur l'axe vertical */
    justify-content:space-around;
    font-size: 1rem; /* Taille de la police */
    padding-right: 8%;
    align-content: center;

    /*-- Tablette --*/
    @include tablette {
        padding: 2% 10%; /* Ajustement du padding pour tablette */
        justify-content: flex-start;
        gap: 10%;
        
    }

    /* Desktop */
    @include desktop {
        left: 1vw; /* Décalage du texte pour desktop */
        border-radius: $border-radius-base; /* Bord arrondi pour desktop */
        box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre pour desktop */
        height: 4vw; /* Hauteur du conteneur ajustée pour desktop */
        font-size: 1rem; /* Taille de la police pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        left: 1vw; /* Décalage du texte pour large desktop */
        border-radius: $border-radius-base; /* Bord arrondi pour large desktop */
        box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2); /* Ombre pour large desktop */
        font-size: 1rem; /* Taille de la police pour large desktop */
    }
}

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------- Icône numérotée pour la liste ----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

ol li .puce_num {
    background-color: $button--search-primary-color; /* Couleur de fond de l'icône numérotée */
    border-radius: 50%; /* Forme arrondie */
    height: 4vh; /* Hauteur de l'icône numérotée */
    width: 4vh; /* Largeur de l'icône numérotée */
    display: flex; /* Utilise flexbox pour centrer le numéro */
    position: absolute; /* Positionnement absolu à l'intérieur de la liste */
    left: -2%; /* Place l'icône sur le bord gauche */
    z-index: 2; /* Superposition de l'icône au-dessus du texte */
    justify-content: center; /* Centre le contenu de l'icône */
    align-items: center; /* Centre verticalement le contenu de l'icône */
    color: white; /* Couleur blanche pour le numéro */
    font-size: 1rem; /* Taille de la police du numéro */
    animation: pulse 1.5s ease-in-out 2; /* Animation de pulsation pour l'icône numérotée */


    /*-- Desktop --*/
    @include desktop {
        height: 1.5rem;
        width:1.5rem /* Décalage de l'icône numérotée pour desktop */
    }
    
    /* Large desktop */
    @include large-desktop {
        height: 1.5rem;
        width: 1.5rem; /* Décalage de l'icône numérotée pour large desktop */
        left:2%
    }
}

/*----------------------------------------------------------------------------------------------------------*/
/*--------------------------------- Icône de la liste -------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

i {
    color: grey; /* Couleur grise pour les icônes */
    font-size: $font-size-base; /* Taille de la police pour les icônes */
    padding-bottom: 2%;

    /*-- Tablette --*/
    @include tablette {
        font-size: $font-size-title;
    }


    /* Desktop */
    @include desktop {
        font-size: $font-size-base; /* Taille de la police ajustée pour desktop */
        margin: 0 $margin-base 0 $margin-base; /* Marges ajustées pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        font-size: $font-size-base; /* Taille de la police ajustée pour large desktop */
        margin: 0 $margin-base 0 $margin-base; /* Marges ajustées pour large desktop */
    }
}
/*----------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Icône Store --------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

.fa-store {
    color: $button--search-primary-color; /* Couleur de l'icône store */
}
