/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _base.scss                                                                        */
/* Auteur              : Trackozor                                                   */
/* Date de création    : 25/09/24                                                                */
/* Dernière modification: 27/09/24                                               */
/* Description         : Fichier contenant les styles de base, typographie globale et gestion des           */
/*                       responsive (mobile et desktop)                                                    */
/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : [SCSS, SASS, etc.]                                                                */
/*--------------------------------------------------------------------------------------------------------*/
/* Révisions :                                                                                             */
/* - [Date] : [Modifications apportées]                                                                    */
/*--------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------Base mobile  ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
  
/* Typographie globale */
body {
  font-family: $font-primary;/* Style police par défaut */
  font-size: $font-size-vh-base;  /* Taille de police de base correspondant à 2 % de la hauteur*/
  display: block;/* Définit l'élément comme un bloc, prenant toute la largeur disponible*/
  background-color: white;/* Couleur de fond de base*/
  align-items: center;
  margin: 0 auto;
  justify-content: center;
    
  /*- Portrait -*/
  @include mobile-landscape {
    font-size: $font-size-vw-base;/* Taille de police correspondant à 2% de la largeur d l'écran*/ 

  }
  
  /*- Desktop -*/
  @include desktop {
    font-size: $font-size-vw-base; /* Taille de police correspondant à 2% de la largeur d l'écran*/ 
  }
}
  

h3 {
    font-family: $font-title; /*Style de police pour les titres*/
}


h2 {
    font-size:$font-size-vh-title; /* Taille de police pour les titres correspondant à 3% de la hauteur de l'écran*/
    font-weight: $font-weight-h-bold; /* Accentuation caractère majeure soit valeur=900 */

    /*- Portrait -*/
    @include mobile-landscape {
      font-size: $font-size-vw-title; /* Taille de police pour les titres correspondant à 3% de la largeur de l'écran*/
    }

    /*- Desktop -*/
    @include desktop {
      font-size: $font-size-vw-title; /* Adaptation de la taille de la police à 3% de la largeur de l'écran*/
    }
}

/*  Liens  */
a {
  text-decoration: none;  /* Supprime le soulignement par défaut*/
  color: inherit; /* Utilise la couleur par défaut du texte (héritée du parent)*/
}

/*  Images  */
img {
  max-width: 100%; /* Rend l'image responsive, ne dépasse jamais la taille de son conteneur parent*/
  height: 100%; /* Conserve les proportions de l'image lorsqu'elle est redimensionnée*/
  display: block; /* Évite les espaces indésirables sous les images (par défaut inline)*/
}

