/* _base.scss */

/*--------------------------------------------------------------------------------------------------------*/
/*----------------------Base mobile first ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
  
/* Typographie globale */
body {
    font-family: $font-primary;
    color: #0a0909;
    font-size: $font-size-vh-base; 
    padding: 0 $padding-vh-base;  
    display: block;
    justify-content: center;
}
  
h3 {
    font-family: $font-title;
}
  
h2 {
    font-size:$font-size-vh-title;
    font-weight: $font-weight-h-bold;
}



ol li {
  display: flex;
  margin:6vh 0;
  align-items: center;
  font-weight: $font-weight-bold;
  gap:4vh;

}

ol li i {
  color:grey;
  font-size: $font-size-vh-base;
  width:5%;
  margin:00$margin-vh-d4  $margin-vh-d4;
  display: flex;
  align-items: center;
}

ol li .li-txt{
  display: flex;
  position: absolute;  
  gap:$gap-vh-base;
  background-color:$primary-background-color;
  padding:$padding-vh-base  $padding-vh-x2;
  margin: $margin-vh-d4  $margin-vh-d4 ;
  align-items: center;
  width: 70%;
  border-radius:2.5vh;
  box-shadow: 0 0.5vh 0.6vh rgba(0, 0, 0, 0.2);

}
ol li .puce_num {
    background-color: $button--search-primary-color;
    border-radius:50%;
    height: 3vh;
    width:3vh;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1.4vh;
}
/*Style pour liste non ordonné*/
ul li {
  display: inline-flex;/* Utilise flexbox pour aligner les éléments*/
  margin:$margin-vh-d2 0; /* marge haute et basse corespondent a*/
  align-items: center;
}

a {
  text-decoration: none;  /* Supprime le soulignement par défaut*/
  color: inherit; /* Utilise la couleur par défaut du texte (héritée du parent)*/
}


img {
  max-width: 100%; /* Rend l'image responsive, ne dépasse jamais la taille de son conteneur parent*/
  height: auto; /* Conserve les proportions de l'image lorsqu'elle est redimensionnée*/
  display: block; /* Évite les espaces indésirables sous les images (par défaut inline)*/
}