/* _base.scss */

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------Base mobile  ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
  
/* Typographie globale */
body {
  font-family: $font-primary;/* Style police par défaut */
  color: #0a0909;/* Couleur de la police par défaut*/
  font-size: $font-size-vh-base;  /* Taille de police de base correspondant à 2 % de la hauteur*/
  padding: 0 $padding-vh-base;  /* Esapace intérieur gauche et droite correspondant à 2% de la hauteur de l'écran*/
  display: block;
  justify-content: center;
    
  /*- Portrait -*/
  @include mobile-landscape {
    font-size: $font-size-vw-base; 
    padding: 0 $padding-vw-base;
  }
  
  /*- Desktop -*/
  @include desktop {
    font-size: $font-size-vw-base; 
    padding: 0 $padding-vw-base;
  }
}
  
h3 {
    font-family: $font-title;
}
  
h2 {
    font-size:$font-size-vh-title;
    font-weight: $font-weight-h-bold;

    @include mobile-landscape {
      font-size: $font-size-vw-title;
    }

    @include desktop {
      font-size: $font-size-vw-title;
    }
}


a {
  text-decoration: none;  /* Supprime le soulignement par défaut*/
  color: inherit; /* Utilise la couleur par défaut du texte (héritée du parent)*/
}


img {
  max-width: 100%; /* Rend l'image responsive, ne dépasse jamais la taille de son conteneur parent*/
  height: 100%; /* Conserve les proportions de l'image lorsqu'elle est redimensionnée*/
  display: block; /* Évite les espaces indésirables sous les images (par défaut inline)*/
}

