/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _base.scss                                                                        */
/* Auteur              : Trackozor                                                   */
/* Date de création    : 25/09/24                                                                */
/* Dernière modification: 27/09/24                                               */
/* Description         : Fichier contenant les styles de base, typographie globale et gestion des           */
/*                       responsive (mobile et desktop)                                                    */
/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : [SCSS, SASS, etc.]                                                                */
/*--------------------------------------------------------------------------------------------------------*/
/* Révisions :                                                                                             */
/* - [Date] : [Modifications apportées]                                                                    */
/*--------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------Base ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
body {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;  /* Police par défaut */
  font-size: 1rem;  /* Taille de police relative */
  background-color:#F6F6F6;  /* Couleur de fond */
  margin: 0 auto;  /* Centrage du contenu */
  overflow-x: hidden;  /* Empêche le débordement horizontal */
  min-width: 300px;


  /* Pour les tablettes */
  @include tablette {
    font-size: 1.1rem;  /* Légèrement plus grand sur les tablettes */
    max-width: 100%;
  }

  /* Pour les desktops */
  @include desktop {
    font-size: 1.2rem;  /* Augmente la taille de la police sur les grands écrans */
    max-width: 1024px;  /* Largeur maximale pour un écran desktop */
  }

}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------Titres ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/*  Description cartes */
h2 {
    font-size:$font-size-title; /* Taille de police pour les titres correspondant à 3% de la hauteur de l'écran*/
    font-weight: $font-weight-bold; /* Accentuation caractère majeure soit valeur=900 */

    /*-- tablette --*/
    @include tablette {
      font-size: 1.6rem;
    }

  }

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------liens ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
a {
  text-decoration: none;  /* Supprime le soulignement par défaut*/
  color: inherit; /* Utilise la couleur par défaut du texte (héritée du parent)*/
}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------Images ---------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
img {
  max-width: 100%; /* Rend l'image responsive, ne dépasse jamais la taille de son conteneur parent*/
  height: 100%; /* Conserve les proportions de l'image lorsqu'elle est redimensionnée*/
  display: block; /* Évite les espaces indésirables sous les images (par défaut inline)*/
}

