/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _footer.scss                                                                      */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/24                                                                          */
/* Dernière modification: 27/09/24                                                                         */
/* Description         : Fichier contenant les styles pour le footer et gestion des                        */
/*                       responsive (mobile et desktop)                                                    */
/*-------------------------------------------------------------------------------------------------------- */
/* Version             : 1.0                                                                               */
/* Framework utilisé   : [SCSS, SASS, etc.]                                                                */
/*-------------------------------------------------------------------------------------------------------- */
/* Révisions :                                                                                             */
/*                                                                                                         */
/*-------------------------------------------------------------------------------------------------------- */

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Footer Principal ------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

footer {
    display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligne verticalement les éléments au centre du footer */
    background-color: black; /* Définit la couleur de fond du footer */
    color: white; /* Définit la couleur du texte et des icônes à blanc */
    padding: 0 $padding-vh-d2; /* Ajoute du padding horizontal, équivalent à 1% de la hauteur de l'écran */
    width: 100%; /* Le footer prend toute la largeur disponible de l'écran */
    margin-top:2vh;

    /* Landscape */
    @include mobile-landscape {
        padding: 0 $padding-vw-d2; /* Ajuste le padding horizontal pour mobile en mode paysage, équivalent à 1% de la largeur de l'écran */
    }

    /* Tablettes */
    @include tablette {
        padding: 0 $padding-vw-d2; /* Ajuste le padding horizontal pour les tablettes, équivalent à 1% de la largeur de l'écran */
    }

    /* Desktop */
    @include desktop {
        padding: 0 $padding-vw-d2; /* Ajuste le padding horizontal pour desktop, équivalent à 1% de la largeur de l'écran */
        justify-content: center; /* Centre les éléments à l'intérieur du footer sur les écrans desktop */
        margin-right: 20%; /* Ajoute une marge à droite, décalant légèrement le footer pour une meilleure présentation sur grand écran */
    }

    @include desktop-portrait {
        margin-top: 5vh; /* Ajoute une marge supplémentaire sur les écrans de petite taille pour centrer le footer */
        
    }
}
