/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _header.scss                                                                     */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/2024                                                                        */
/* Dernière modification: 27/09/2024                                                                       */
/* Description         : Styles pour le header                                                             */
/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : SCSS                                                                              */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Conteneur Principal --------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
header {
  display: flex; /* Utilise flexbox pour aligner les éléments */
  flex-direction: column; /* Aligne les éléments verticalement en colonne */
  align-items: center; /* Centre les éléments sur l'axe vertical */
  width: 100%; /* Le header prend toute la largeur disponible */
  justify-content: center;
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Carte pour la localisation --------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
.card-location {
  width: 100%; /* La carte prend toute la largeur du parent */
  border-top: $font-size-d4 solid lightgrey; /* Bordure supérieure de 0.5% de la hauteur de l'écran en gris clair */
  border-bottom: $font-size-d4 solid lightgrey; /* Bordure inférieure de 0.5% de la hauteur de l'écran en gris clair */
  display:flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  /* Desktop */
  @include desktop {
    border: none; /* Suppression des bordures sur les grands écrans (desktop) */
    align-items: center;
    width:100%;
    padding: 4% 0;
  }
  
  /* -- Large desktop --*/
  @include large-desktop {
    border: none;
    align-items: center;
  }
}



