/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _header.scss                                                                     */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/2024                                                                        */
/* Dernière modification: 27/09/2024                                                                       */
/* Description         : Styles pour le header                                                             */
/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : SCSS                                                                              */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Conteneur Principal --------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
header {
  display: flex; /* Utilise flexbox pour aligner les éléments */
  flex-direction: column; /* Aligne les éléments verticalement en colonne */
  align-items: center; /* Centre les éléments sur l'axe vertical */
  width: 100%; /* Le header prend toute la largeur disponible */
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------- Carte pour la localisation --------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
.card-location {
  width: 100%; /* La carte prend toute la largeur du parent */
  border-top: $font-size-vh-d4 solid lightgrey; /* Bordure supérieure de 0.5% de la hauteur de l'écran en gris clair */
  border-bottom: $font-size-vh-d4 solid lightgrey; /* Bordure inférieure de 0.5% de la hauteur de l'écran en gris clair */

  /* Landscape */
  @include mobile-landscape {
    border-top: $font-size-vw-d4 solid lightgrey; /* Bordure supérieure ajustée à 0.5% de la largeur de l'écran pour mobile paysage */
    border-bottom: $font-size-vw-d4 solid lightgrey; /* Bordure inférieure ajustée pour mobile paysage */
  }
  
  /* Tablette */
  @include tablette {
    border-top: $font-size-vw-d4 solid lightgrey; /* Bordure supérieure ajustée à 0.5% de la largeur de l'écran pour tablette */
    border-bottom: $font-size-vw-d4 solid lightgrey; /* Bordure inférieure ajustée pour tablette */
  }

  /* Desktop */
  @include desktop {
    border: none; /* Suppression des bordures sur les grands écrans (desktop) */
  }
}


