/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _header.scss                                                                     */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/2024                                                                        */
/* Dernière modification: 27/09/2024                                                                       */
/* Description         : Styles pour le header                                                             */
/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : SCSS                                                                              */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Conteneur Principal --------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
header {
  display: block; /* Utilise flexbox pour aligner les éléments */
  width: 100%; /* Le header prend toute la largeur disponible */
  max-height: auto;
  background-color:#FFFFFF ;


}





