/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _loader.scss                                                                      */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/2024                                                                        */
/* Dernière modification: 27/09/2024                                                                       */
/* Description         : Styles pour le loader couvrant toute la page avec animation et éléments dynamiques */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Loader Principal ------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Loader couvrant toute la page */
.loader-active {
    position: fixed;
    width: 100%;
    height:100%;
    background: black;
    display: $loader-active;
    flex-direction: column;
    align-items: center; /* Centre verticalement */
    justify-content: space-around;
    z-index: 6;
    animation: fadeOutLoader 5s ease-in-out forwards;


}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Carte du Loader -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Carte contenant le logo, horloge, sablier et barre de progression */
.loader-card {
    background-color: white; /* Couleur de fond personnalisée */
    border-radius: $border-radius-vh-base; /* Bords arrondis */
    box-shadow: 0 $font-size-vh-x2 $font-size-vh-x3 rgba(0, 0, 0, 0.2); /* Ombre légère */
    text-align: center; /* Centre le texte */
    animation: shrink 5s ease-in-out forwards; /* Animation de rétrécissement pour la disparition de la carte */
    flex-direction: column;
    display: flex;
    width:90%;
    align-items: center;
    align-content:space-around;
    padding-bottom: 2vh;
    padding-top: 2vh;
    position:absolute;

    


   
    
    /*--- Tablette ---*/
    @include tablette {
        border-radius: $border-radius-vw-base; /* Bord arrondis pour tablette */
        height: $object-size-vw-x25; /* Ajuste la hauteur correspondant à 50 % de la largeur de l'écran*/
        margin: $margin-vw-base auto; /* Marges pour tablette */

    }
    
    /*--- Desktop ---*/
    @include desktop {

        box-shadow: $border-shadow-vw; /* Ombre pour desktop */
        margin: 0 auto; /* Marges pour*/
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 50%;
        left:20%;
        top:15%;
        
    }
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Logo du Loader -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Logo du loader */
.loader-logo {
    width:50%; /* Largeur du logo */
    margin:1vh 0; /* Marge inférieure de 20px */

   
    
    /*--- Tablette ---*/
    @include tablette {
        width: 30%; /* Largeur du logo pour tablette */
        margin-bottom: 2vw; /* Marge inférieure pour tablette */
    }
    
    /*--- Desktop ---*/
    @include desktop {
        width: 20%; /* Largeur du logo pour desktop */
        margin-bottom: 2vw; /* Marge inférieure pour desktop */

    }
    
}


/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- Horloge Animée -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/




/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Sablier Dynamique -----------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Sablier dynamique placé au-dessus de la barre de progression */
.loader-sablier {
    width: 20%; /* Largeur du sablier */
    margin-bottom: 10px; /* Marge inférieure */
    animation: rotateClock 1s infinite linear, shrink 2s ease-in-out forwards; /* Combine rotation et rétrécissement */
    animation-delay: 0s, 1s; /* Le rétrécissement démarre après 2 secondes */

    
    
    /*--- Tablette ---*/
    @include tablette {
        width: 20%; /* Largeur du sablier pour tablette */
        margin-bottom: $margin-vw-d2; /* Marge inférieure pour tablette */
    }
    
    /*--- Desktop ---*/
    @include desktop {
        width: 20%; /* Largeur du sablier pour desktop */
        margin-bottom: $margin-vw-d2; /* Marge inférieure pour desktop */
    }
    
}


/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ Message Dynamique -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/*--- Message dynamique affiché dans le loader */
.loader-message {
    font-family: $font-title; /* Police personnalisée */
    font-size: $font-size-vh-x2; /* Taille de la police adaptée à l'écran */
    color: #860ee7; /* Couleur du texte en gris foncé */
    margin-bottom: 20px; /* Marge inférieure de 20px */
    opacity: 0; /* Initialement invisible */
    animation: fadeInMessage 1.5s ease-in-out 0.5s forwards; /* Apparition progressive avec un délai d'1 seconde */
}

.loader-message1 {
    font-family: $font-title;
     font-size: $font-size-vh-x2; /* Taille de la police adaptée à l'écran */
    color: #860ee7; /* Couleur du texte en gris foncé */
    opacity: 0;
    animation: fadeInMessage 1.5s ease-in-out 1s forwards; /* Apparition progressive avec un délai d'1 seconde */
}

/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------------ Barre de Progression ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/*--- Conteneur de la barre de progression ---*/
.progress-bar-container {
    background-color: #ddd; /* Fond gris clair pour le conteneur */
    border-radius: $border-radius-vh-base; /* Bords arrondis */
    width: 100%; /* Largeur complète */
    height: $object-size-vh-x2; /* Hauteur de la barre de progression */
    overflow: hidden; /* Cache le contenu qui dépasse les bords */
    margin-top: $margin-vh-base; /* Marge supérieure */
    position: relative; /* Position relative pour positionner le pourcentage */

  
    
    /*--- Tablette ---*/
    @include tablette {
        height: $object-size-vh-x2; /* Hauteur de la barre de progression pour tablette */
    }
    
    /*--- Desktop ---*/
    @include desktop {
        height: 6vw; /* Hauteur de la barre de progression pour desktop */
    }
}

/*--- Barre de progression ---*/
.progress-bar {
    height: 5vh; /* Hauteur complète à l'intérieur du conteneur */
    width: 0; /* Commence vide */
    background-color: #9356DC; /* Couleur de la barre de progression */
    animation: loadProgressBar 3s ease-in-out forwards; /* Remplit la barre en 3 secondes */

    
}

/*--- Texte du pourcentage ---*/
.progress-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: $font-size-vh-base;
    animation: textAppear 1.5s ease-in-out forwards;
    height: 2vh;

    
    
    /*--- Tablette ---*/
    @include tablette {
        font-size: $font-size-vh-base; /* Taille de la police adaptée à l'écran pour tablette */
        height: 2vh;
    }
    
    /*--- Desktop ---*/
    @include desktop {
        font-size: $font-size-vw-base; /* Taille de la police adaptée à l'écran pour desktop */
        
    }
}


