/*--------------------------------------------------------------------------------------------------------*/
/* Nom du fichier      : _loader.scss                                                                      */
/* Auteur              : Trackozor                                                                         */
/* Date de création    : 25/09/2024                                                                        */
/* Dernière modification: 27/09/2024                                                                       */
/* Description         : Styles pour le loader couvrant toute la page avec animation et éléments dynamiques */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- Loader Principal ------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* Loader couvrant toute la page (mobile-first) */
.loader-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Assure que le loader couvre toute la hauteur de l'écran */
    background: black;
    display: $loader-active; /* Utiliser flexbox pour centrer les éléments */
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre verticalement */
    z-index: 9999; /* Z-index élevé pour que le loader soit au-dessus de tout */
    animation: fadeOutLoader 5s ease-in-out forwards;
}

/* Carte contenant le logo, horloge, sablier et barre de progression */
.loader-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: shrink 6s ease-in-out forwards;
    flex-direction: column;
    display: flex;
    width: auto; /* Prend 90% de la largeur de l'écran pour les petits appareils */
    margin: 0 ; /* Centre la carte horizontalement */
    align-items: center;
    justify-content: center;
    position: relative;

    /*-- Tablette --*/
    @include tablette {
        width: 60%;
        margin: 0 ;
        align-items: center;
        justify-content: center;
    }

    /*-- Desktop --*/
    @include desktop {
        width: 40%;
        margin: 0 ;
        align-items: center;
        justify-content: center;
    }

    /*-- Large Desktop --*/
    @include large-desktop {
        width: 30%;
        margin: 0 ;
        align-items: center;
        justify-content: center;
    }
}

/* Logo du loader */
.loader-logo {
    width: 50%;
}

/* Sablier dynamique placé au-dessus de la barre de progression */
.loader-sablier {
    width: 40%;
    background-color: transparent;
    margin-bottom: 1rem;
    border-radius: 25%;
    animation: rotateClock 1.2s infinite linear;
}

/* Message dynamique affiché dans le loader */
.loader-message, .loader-message1 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #860ee7;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadeInMessage 2.5s ease-in-out forwards;
}

/* Conteneur de la barre de progression */
.progress-bar-container {
    background-color: #ddd;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    margin: 2rem;
    position: relative;

    /*-- Tablette --*/
    @include tablette {
        height: 7rem;
    }

    /*-- Desktop --*/
    @include desktop {
        height: 7rem;
    }

    /*-- Large Desktop --*/
    @include large-desktop {
        height: 7rem;
    }
}

/* Barre de progression */
.progress-bar {
    height: 100%;
    width: 0;
    background-color: #9356DC;
    animation: loadProgressBar 3s ease-in-out forwards;
}

/* Texte du pourcentage */
.progress-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.6rem;
    animation: fadeInMessage 4.5s ease-in-out forwards;
    height: 20px;
}

