/* _buttons.scss */
/**--------------------------------------------Mobile First Portrait--------------------------------------*/

/* Bouton principal avec dégradé */
.button--primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FF79DA, #9356DC);/**/
    padding: $padding-vh-base $padding-vh-d2;/**/
    color: white;/**/
    width:22vh;/**/
    box-shadow: $border-shadows-vh; /**/
    border-radius:$border-radius-vh-x2; /**/   
    &:hover {
    background: linear-gradient(180deg, lighten(#FF79DA, 2%), lighten(#9356DC, 10%));/**/
    box-shadow: $border-shadows-vh;/**/
    }
}

/**/
.button--primary-txt {
  font-size: $font-size-vh-middle;
  font-weight: $font-weight-l-bold;
  align-content: center;


}

  /*------------------ Bouton "Nouveau" ----------------------------*/

  /**/
.badge {
  background-color: #99E2D0;  /* Couleur vert clair */
  color: white;
  font-size: $font-size-vh-middle;
  padding: 5px 10px;

  /*--effet de survol--*/
  &:hover {
    background-color: lighten(#99E2D0, 10%);
    }
}
  
  /*------------------ Bouton "Cœur" ----------------------------- */
  .icon-favorite {
    width: 40px;
    height: 40px;

    background-color: transparent;
    color:grey;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-vh-base;

    input {
      display: none;
    }
    /* Effet de survol*/
    &:hover {
      color:grey;
    }
  
    /*-- Effet " Like"--*/
    &.liked {
      background-color: #9356DC;
      color: $button--search-primary-color;
    }
}
  
  /* Bouton retour (flèche) */
  .button--back {
    background-color: transparent;
    color: black;
    font-size: $font-size-vh-base;
    padding: 0;
    border: none;
  
    /* Effet de survol*/
    &:hover {
      color: #333;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
