/* _buttons.scss */

/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- Portrait--------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/


/* Bouton principal avec dégradé */
.button--primary {
    display: flex;/* Utilise flexbox pour aligner les éléments*/
    align-items: center; /* Aligne les éléments dans la hauteur*/
    justify-content: center; /* Aligne les éléments dans la largeur*/
    background: linear-gradient(180deg, $button--search-secondary-color, $button--search-primary-color);/**/
    padding: $padding-vh-base $padding-vh-base;/**/
    color: white;/* couleur du texte*/
    width:$object-size-vh-x12-5;/*longueur du bouton correspondant à 22 % de la hauteur de l'écran*/
    box-shadow: $border-shadow-vh; /*ombre*/
    border-radius:$border-radius-vh-x2; /*arrondis correspond à un rayon de courbure correspondant à 2 % de la hauteur de l'écran*/
    
    /* Effet de survol*/
    &:hover {
    background: linear-gradient(180deg, lighten($button--search-secondary-color, 2%), lighten($button--search-primary-color, 10%));/*couleur dégradé*/
    box-shadow: $border-shadow-vh;/* Ombre*/
    }
}

/* Texte du bouton*/
.button--primary-txt {
  font-size: $font-size-vh-base;
  font-weight: $font-weight-l-bold;
  align-content: center;
}

  /*------------------ Bouton "Nouveau" ----------------------------*/

.badge {
  background-color:$button--new-primary-color;  /* Couleur vert clair */
  color: $button--new-secondary-color;
  font-size: $font-size-vh-middle;
  padding:$padding-vh-d2 $padding-vh-base;
  width:$object-size-vh-x3;
}
  
  /*------------------ Bouton "Cœur" ----------------------------- */
.icon-favorite {
    background-color: transparent;
    color:grey;
      
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-vh-title;
    transition: color 0.3s ease;
    position:relative;
    padding-right: $padding-vh-base;
}
.icon-favorite:hover {
  animation: heartBeat 0.3s ease-in-out 3;
  color: $button--search-secondary-color;
}

.icon-favorite:checked {
    animation: likeFill 0.5s ease-in-out forwards;
}

input {
    display:none;
}


  
  /* Bouton retour (flèche) */
  .button--back {
    background-color: transparent;
    color: black;
    font-size: $font-size-vh-base;
    padding: 0;
    border: none;

}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------- Paysage ---------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:63.99rem) and (orientation: landscape) {
  
.button--primary {
  padding: $padding-vw-base $padding-vw-base;/**/
  width:$object-size-vw-x12-5;/*longueur du bouton correspondant à 20 % de la largeur de l'écran*/
  box-shadow: $border-shadow-vw; /*ombre*/
  border-radius:$border-radius-vw-x2; /*arrondis correspond à un rayon de courbure correspondant à 2 % de la largeur de l'écran*/
  
  /* Effet de survol*/
  &:hover {
  background: linear-gradient(180deg, lighten($button--search-secondary-color, 2%), lighten($button--search-primary-color, 10%));/*couleur dégradé*/
  box-shadow: $border-shadow-vw;/* Ombre*/
  }
}

/* Texte du bouton*/
.button--primary-txt {
font-size: $font-size-vw-base;
font-weight: $font-weight-l-bold;
align-content: center;
}
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 63.991rem) {
.button--primary {
  width:$object-size-vw-x12-5;/*longueur du bouton correspondant à 22 % de la largeur de l'écran*/
  padding: $padding-vw-base $padding-vw-base;
  box-shadow: $border-shadow-vw; /*ombre*/
  border-radius:$border-radius-vw-x2; /*arrondis correspond à un rayon de courbure correspondant à 2 % de la largeur de l'écran*/
  
  /* Effet de survol*/
  &:hover {
  background: linear-gradient(180deg, lighten($button--search-secondary-color, 2%), lighten($button--search-primary-color, 10%));/*couleur dégradé*/
  box-shadow: $border-shadow-vw;/* Ombre*/
  }

  /* Texte du bouton*/
.button--primary-txt {
  font-size: $font-size-vw-base;
  font-weight: $font-weight-l-bold;
  align-content: center;

  }
}
} 
