
/*-------------------------------------------------------------------------------------------------------- */
/* Nom du fichier      : _button.scss                                                              */
/* Auteur              : Trackozor                                                                          */
/* Date de création    : 25/09/24                                                                           */
/* Dernière modification: 06/10/24                                                                          */
/* Description         : Styles pour les buttons                                                            */
/*                                                                                                          */
/*                                                                                                          */
/*--------------------------------------------------------------------------------------------------------  */

/*--------------------------------------------------------------------------------------------------------  */
/*  Version             : 1.0                                                                               */
/*  Framework utilisé   : SCSS                                                                              */
/* -------------------------------------------------------------------------------------------------------  */
/*  Révisions :                                                                                             */
/*                                                                                                          */
/* -------------------------------------------------------------------------------------------------------- */

/*----------------------------------------------------*/
/*--- Bouton principal avec dégradé ----------------- */
/*----------------------------------------------------*/

/* Style principal pour le bouton primaire */
.button--primary {
  display: flex; /* Utilise Flexbox pour disposer les éléments enfants du bouton */
  align-items: center; /* Aligne verticalement les éléments enfants au centre */
  justify-content: center; /* Aligne horizontalement les éléments enfants au centre */
  /* Fond avec un dégradé vertical (de haut en bas) */
  background: linear-gradient(
    to bottom,
    $button--search-secondary-color,
    $button--search-primary-color
  );
  padding: $padding-base; /* Ajoute un espace intérieur (padding) proportionnel à la taille de l'écran */
  color: white; /* Définit la couleur du texte en blanc */
  box-shadow: $shadow-medium; /* Applique une ombre pour donner un effet de relief */
  border-radius: $border-radius-large; /* Rend les coins arrondis avec une valeur de rayon spécifique */

  /* Effets visuels au survol */
  &:hover {
    /* Change légèrement le dégradé en l'éclaircissant au survol */
    background: linear-gradient(
      180deg, /* Dégradé inversé, de bas en haut */
      lighten($button--search-secondary-color, 2%), /* Éclaircissement léger de la première couleur */
      lighten($button--search-primary-color, 10%) /* Éclaircissement plus prononcé de la seconde couleur */
    );

    /* Maintient la même ombre pour un effet subtil */
    box-shadow: $shadow-medium;
  }
}



/*-------------------------------------------------------------*/
/* Style pour le texte à l'intérieur du bouton principal */
.button--primary-txt {
  font-size: $font-size-base; /* Définit la taille de la police par défaut (ex. 2% de la hauteur de l'écran) */
  font-weight: 500; /* Applique une épaisseur intermédiaire (500) au texte */

  /* Desktop */
  @include desktop {
    font-size: 0.8rem; /* Réduit la taille de la police pour les écrans de bureau */
  }

  /*-- Large desktop --*/
  @include large-desktop {
    font-size: 0.8rem; /* Taille de police maintenue identique sur les très grands écrans */
  }
}



/*-------------------------------------*/
/*----------Badge Nouveau ------------*/
/*-----------------------------------*/

/* Style pour le badge (étiquette ou indicateur visuel) */
.badge {
  background-color: $button--new-primary-color; /* Définit un fond vert clair */
  color: $button--new-secondary-color; /* Couleur du texte en vert foncé pour le contraste */
  font-size: 1rem; /* Taille de la police initiale (par défaut pour mobile) */
  padding: $padding-small $padding-base; /* Définit un espace intérieur vertical et horizontal */
  font-weight: $font-weight-bold; /* Applique un style de texte en gras (bold) */
  display: flex; /* Active Flexbox pour la gestion des éléments enfants (s'il y en a) */
  justify-content: center; /* Centre le contenu horizontalement */

  /*-- tablettes --*/
  @include tablette {
    font-size: 1rem; /* Conserve la taille de la police sur tablette */
    padding: $padding-base; /* Augmente le padding pour un rendu plus espacé */
  }

  /*-- large desktop --*/
  @include large-desktop {
    font-size: 0.8rem; /* Réduit légèrement la taille de la police pour les écrans très larges */
  }
}



/*---------------------------------------*/
/*-------------- Bouton Cœur -----------*/
/*---------------------------------------*/

.icon-favorite {
  background-color: transparent; /* Fond transparent */
  color: black;
  cursor: pointer; /* Indique que c'est un élément cliquable */
  position: relative;
  display: inline-block;
}

/*-------------------------------------------------------------*/
/* Icône pleine : initialement cachée */
.icon-favorite .fa-full {
  display: none; /* Caché par défaut */
  z-index: 30; /* Superposition au-dessus des autres éléments */
  position: relative;
  font-size: $font-size-title; /* Taille de police définie */
  transition: all 0.3s ease-in; /* Animation fluide pour l'apparition */
}

/*-------------------------------------------------------------*/
/* Icône vide : visible par défaut */
.icon-favorite .fa-empty {
  display: flex; /* Visible par défaut */
  font-size: $font-size-title;
  transition: all 0.3s ease-in; /* Animation fluide pour la disparition */
}

/*-------------------------------------------------------------*/
/* Input caché */
input.favorite-checkbox {
  display: none; /* Cache l'input */
}

/*-------------------------------------------------------------*/
/* Quand le checkbox est coché : persistance de l'état */
input.favorite-checkbox:checked ~ .fa-full {
  display: flex; /* Affiche l'icône pleine */
  background: linear-gradient(
    to top,
    $button--search-secondary-color,
    $button--search-primary-color
  ); /* Dégradé pour l'icône pleine */
  -webkit-background-clip: text; /* Clip le dégradé au texte */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Rend le texte transparent */
}

input.favorite-checkbox:checked ~ .fa-empty {
  display: none; /* Cache l'icône vide */
}

/*-------------------------------------------------------------*/
/* Styles Responsifs : ajustements des tailles */
.fa-full,
.fa-empty {
  font-size: $font-size-title; /* Taille par défaut pour mobile */

  /* Tablette */
  @include tablette {
    font-size: 1.4rem; /* Ajustement pour tablette */
  }

  /* Desktop */
  @include desktop {
    font-size: 1.4rem; /* Ajustement pour desktop */
  }

  /* Large desktop */
  @include large-desktop {
    font-size: 1.4rem; /* Ajustement pour large desktop */
  }
}

/*-----------------------------------------------------*/
/*--------icône validation -----------------------------*/
/*-----------------------------------------------------*/

/* Masquer la case à cocher */
.checkbox-hidden {
    display: none;
}

/* Icône à animer */
.icon-to-slide {
    position: relative;
    transform: translateX(180px); /* L'icône commence hors de la carte à droite */
    transition: transform 0.5s ease-in-out; /* Animation fluide */
}

/* Lorsque la case est cochée, l'icône glisse à sa position finale */
.checkbox-hidden:checked + label .icon-to-slide {
    transform: translateX(0); /* L'icône glisse vers sa position finale */
}

/*-------------------------------------------------------------*/
/* Style pour les étiquettes des menus de cartes */
label.card-menu {
  display: block; /* Affiche l'élément comme un bloc pour occuper toute la largeur disponible */
  cursor: pointer; /* Change le curseur en main pour indiquer que l'élément est cliquable */
  border: 1px solid #ccc; /* Ajoute une bordure fine grise autour de la carte */
  border-radius: 1rem; /* Arrondit les coins de la carte pour un rendu plus esthétique */
  margin-bottom: 10px; /* Ajoute un espacement en bas de chaque carte */
  position: relative; /* Permet un positionnement des éléments enfants par rapport à ce conteneur */
  overflow: hidden; /* Empêche tout contenu ou icône dépassant les limites de la carte d'être visible */
}



/*-------------------------------------------------------------*/
/* Conteneur pour l'icône de validation */
.validation-icon {
  display: flex; /* Utilise Flexbox pour une mise en page flexible et l'alignement des éléments internes */
  align-items: center; /* Aligne les éléments enfants verticalement au centre */
  position: absolute; /* Positionnement absolu par rapport à l'élément parent contenant */
  right: -1%; /* Décale l'icône légèrement vers la droite en dehors du conteneur parent */
  top: 53%; /* Positionne l'icône légèrement au-dessus du centre vertical */
  transform: translateY(-53%); /* Ajuste la position verticale pour un centrage plus précis */
  justify-content: center; /* Centre les éléments horizontalement dans le conteneur */
  padding: 0; /* Supprime les espaces internes */
  margin: 0; /* Supprime les marges externes */
}


/*-------------------------------------------------------------*/
/* Icône à l'intérieur de .validation-icon */
.validation-icon i {
    color: white; /* Couleur de l'icône */
    background-color: $button--new-primary-color; 
    padding: 1.4rem 1rem; 
    border-radius: 0 2vh 2vh 0; /* Bords arrondis seulement à droite */
    font-size: 1.5rem; /* Taille de l'icône */
    justify-content: center;
    align-items: center;

    /*  tablette */
    @include tablette {
        font-size: 2rem;
        padding: 1.6rem; /* Ajustement de la taille et du padding pour tablette */
    }

    /* desktop */
    @include desktop {
        font-size: 1.6rem;
        padding: 1.6rem; /* Ajustement de la taille et du padding pour desktop */
    }

    /* Large desktop */
    @include large-desktop {
        font-size: 1.4rem;
        padding: 1.4rem ; /* Ajustement de la taille et du padding pour large desktop */
    }
}




