
/* Nom du fichier      : _card.scss                                                                       */
/* Auteur              : Trackozor                                                                        */
/* Date de création    : 25/09/24                                                                         */
/* Dernière modification: 27/09/24                                                                        */
/* Description         : Style pour de bases réutilisables pour les boutons                              */
/*                                                                                                       */
/*--------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------*/
/* Version             : 1.0                                                                               */
/* Framework utilisé   : SCSS                                                                              */
/*--------------------------------------------------------------------------------------------------------*/
/* Révisions :                                                                                             */
/* - [Date] : [Modifications apportées]                                                                    */
/*--------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Carte Logo-----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

.card-logo {
    height:$object-size-vh-middle;/* Défini la hauteur de la carte correspondant à 1.5 % de la hauteur de l'écran */
    display: flex; /* Utilise flexbox pour aligner les éléments*/
    align-items: center;/* Centre le contenu verticalement */
    background-color: white;/* Couleur de fond de la carte logo*/
    margin: $margin-vh-d2 0; /* Définit les marges verticales de la carte */

    /* landscape  */
    @include mobile-landscape { 
        height:$object-size-vw-middle;/* Ajuste la hauteur correspondant à 1.5% de  la largeur de l'écran */
        margin: $margin-vw-base 0;/* Ajuste les marges hautes/basses correspondant à 2% de la largeur de l'écran */
    }

    /*  Desktop  */
    @include desktop {
        height:$object-size-vw-middle;/* Ajuste la hauteur correspondant à 1.5% de la largeur de l'écran*/
        margin: $margin-vw-base 0;/* Ajuste les marges hautes/basses correspondant à 2 % de la largeur de l'écran */
    }   
}


/*---------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------Carte Logo alt-----------------------------------------------*/
/*--------------------------------------------Avec fleche retour---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

.card-logo-alt {
    display:flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    justify-content: center;
    position: relative;
    
}

.card-logo-alt img {
    height: 3vh; /* Hauteur correspondant à 3 % de la hauteur de l'écran */    
    
}

.card-logo-alt i {
    position: absolute;
    left: -5%;
    top:35%
    
}


/*--------------------------------------------------------------------------------------------------------*/
/*------------------------------- Carte localisation avec icône et ville ---------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* Conteneur */
.card-location {
    display: flex; /* Utilise flexbox pour aligner les éléments*/
    justify-content: center;/*aligne les éléments depuis le centre*/
    align-items: center;
    gap:$gap-vh-d2;/* Espace entre les elements correspondant à 0.5 % de la hauteur de l'écran*/
    background-color: $primary-background-color; /* Couleur de fond*/
    width: $object-size-vh-x10; /* hauteur x10 valeur de base soit 20 % de la hauteur de l'écran*/
    padding: $padding-vh-base ;
    margin-right: $margin-vh-x2; /* Espace intérieur correspondant à 2 % de la largeur de l'écran */

    /* landscape */
    @include mobile-landscape {
        gap:$gap-vw-base; /* Espace entre les elements correspondant à 2% de la largeur de l'écran*/
        width: $object-size-vw-x10; /* hauteur x10 valeur de base soit 20 % de la largeur de l'écran*/
        padding: $padding-vw-base $padding-vw-base; /* espace intérieur correspondant à 2 % de la largeur de l'écran*/ 
        margin-right: $margin-vw-x2;
    }
    
    /* Desktop */
    @include desktop {
        gap:$gap-vw-d2; /* Espace entre les elements correspondant à 2% de la largeur de l'écran*/
        width: $object-size-vw-x10; /* hauteur x10 valeur de base soit 20 % de la largeur de l'écran*/
        padding: $padding-vw-d2 $padding-vw-d2; /* espace intérieur correspondant à 2%de l'écran*/
    }
}

/* Icône localisation*/
.card-location i {
    font-size: $font-size-vh-base;/*Taille correspondant à 2 % de la hauteur de l 'écran*/
    color: black;/* Couleur icône */
    margin-right: $margin-vh-d2;/* marge droite correspond à 1% de la hauteur de l'écran*/

    /* landscape  */
    @include mobile-landscape { 
        font-size: $font-size-vw-base;/* Taille correspondant à 2 % de la largeur de l'écran*/
        margin-right: $margin-vw-d2;/* marge droite correspondant à 1% de la largeur de l'écran*/
    }
    
    @include tablette {
        font-size: $font-size-vw-base;/* Taille correspondant à 2 % de la largeur de l'écran*/
        margin-right: $margin-vw-d2;/* marge droite correspondant à 1% de la largeur de l'écran*/
    }

    @include desktop {
        font-size: $font-size-vw-base;/* Taille correspondant à 2 % de la largeur de l'écran*/
        margin-right: $margin-vw-d4;/* marge droite correspondant à 1% de la largeur de l'écran*/
    }
}

/* Adresse localisation*/
.carte-location address {
    font-size: $font-size-vh-base;
    color: black;

    /* landscape  */
    @include mobile-landscape { 
        font-size: $font-size-vw-base;
    }

    @include tablette {
        font-size: $font-size-vw-base;
    }
    
    /* Desktop  */  
    @include desktop {
        font-size: $font-size-vw-base;
    }
}
/*---------------------------------------------------------------------------------*/
/*-------------------------------- Cartes restaurants -----------------------------*/
/*---------------------------------------------------------------------------------*/

/* Conteneur parent*/
.card {
    display: flex; /* Utilse flexbox pour aligner les éléments*/
    flex-direction: column; /* Aligne les éléments en colonne */
    border-radius: $border-radius-vh-base; /* bord arrondis correspondant à un rayon de courbure de 2 % de la hauteur de l'écran*/
    box-shadow: $border-shadow-vh; /* ombre*/
    position:relative;
    z-index: 1;
    width: 90%;
    height: $object-size-vh-x15; /* Hauteur 15x valeur de base soit 30% de la hauteur de l'écran*/
    margin: $margin-vh-d4 auto;
    justify-content: center;
 


    /* landscape  */
    @include mobile-landscape {
        border-radius: $border-radius-vw-base; /*bord arrondis correspondant à un rayon de courbure de 2 % de la largeur de l'écran*/
        height: $object-size-vw-x20; /* hauteur x30 valeur de base correspondant à 60 %de la largeur de l'écran */
        box-shadow: $border-shadow-vw; /* ombre*/
        margin: $margin-vw-d4 auto;
        height: 50vw;        
    }

    @include tablette {
        border-radius: $border-radius-vw-base; /*bord arrondis correspondant à un rayon de courbure de 2 % de la largeur de l'écran*/
        height: $object-size-vw-x20; /* hauteur x30 valeur de base correspondant à 60 % de la largeur de l'écran */
        height:50vw;
        margin: $margin-vw-d4 auto;
        width: 100%;
    }

    /* Desktop */
    @include desktop {
        border-radius: $border-radius-vw-base; /*bord arrondis correspondant à un rayon de courbure de 2 % de la largeur de l'écran*/
        height: $object-size-vw-x20; /* hauteur x30 valeur de base correspondant à 60 % de la largeur de l'écran */
        box-shadow: $border-shadow-vw; /* ombre*/
        margin: $margin-vw-d4 auto;  
        width: 40vw;
        height: 25vw;      
    }
}

/* Image */
.card  img {
    width: 100%;
    border-radius: $border-radius-vh-base   $border-radius-vh-base 0 0;/* Arrondis haut gauche et haut droit  avec un rayon de courbure correspondant à 2 % de la hauteur de l'écran*/
    height:20vh;/* L 'image prend 70% de la hauteur de la carte*/
    object-fit: cover;
    object-position: center 60%;


    /* landscape */    
    @include mobile-landscape {
        border-radius: $border-radius-vw-base   $border-radius-vw-base 0 0;/* Arrondis haut gauche et haut droit  avec un rayon de courbure correspondant à 2 % de la largeur de l'écran*/
        object-fit: cover; /* l image est coupe pour s'adapter au conteneur */
        width:100%;
        height: 40vw;
        
    }

    /* tablette */
    @include tablette {
        border-radius: $border-radius-vw-base   $border-radius-vw-base 0 0;/* Arrondis haut gauche et haut droit  avec un rayon de courbure correspondant à 2 % de la largeur de l'écran*/
        object-fit: cover; /* l image est coupe pour s'adapter au conteneur */
        width:100%;
        height:40vw;
    }
    
    /* desktop */
    @include desktop {
        border-radius: $border-radius-vw-base   $border-radius-vw-base 0 0;/* Arrondis haut gauche et haut droit  avec un rayon de courbure correspondant à 2 % de la hauteur de l'écran*/
        object-fit: cover; /* l image est coupe pour s'adapter au conteneur */
        width:100%;
        height:19vw;

    }
}
.card h3{
    font-family:'roboto-bold' ,sans-serif;
    font-weight: 900;
    margin-top: 2vh;

       /* landscape */
    @include mobile-landscape {
        font-size: $font-size-vw-base;
        margin-top: 3vh;
    }
    
    @include tablette {
        font-size: $font-size-vw-base;
        margin-top: 3vh;
    }
    
    /* Desktop */
    @include desktop {
        font-size: $font-size-vw-d2;
        margin-top: 3vh;
    }
}
/* Zone de texte */
.card .card-title  {
    font-size: $font-size-vh-base;
    gap:$gap-vh-d4;
    margin: $margin-vh-base;
    

    @include mobile-landscape {
        font-size:$font-size-vw-base;
        gap:$gap-vw-d2;
        margin: $margin-vw-base;
    }

    @include tablette {
        font-size:$font-size-vw-base;
        gap:$gap-vw-d2;
        margin: $margin-vw-base;    
    }

    /* Desktop */   
    @include desktop {
        font-size:$font-size-vw-d2;
        gap:$gap-vw-d2;
        margin: $margin-vw-d2;
    }
}
.card .icon-favorite{
    display: block;
    position: absolute;
    z-index: 2;
    left: 75%;
    bottom: 15%;

    /* landscape */
    @include mobile-landscape {
        left: 85%;
        bottom: 10%;
    }

    @include tablette {
        left: 85%;
        bottom: 7.5%;
    }

    /* Desktop */
    @include desktop {
        left: 85%;
        bottom: 10%;
    }
}


.card-txt {
    padding: $padding-vh-d4 0;

    @include mobile-landscape {
        padding: $padding-vw-d4 0;
    }
}
/*-------------------------------------------------------------------------------------------*/
/* ---------------------------------------Badge--------------------------------------------- */
/* ------------------------------------------------------------------------------------------*/

.card .badge {
    display: flex;
    position : absolute;
    z-index: 3;
    right: 5%;
    top:5%;
    
    }


/*------------ Affichage Badges ----------------*/

#palette .badge {
    display: $badge-palette;
}

#enchantee .badge {
    display: $badge-enchantee;
}

#delice .badge {
    display: $badge-delices;
}

#francaise .badge {
    display: $badge-francaise;
}


/* ---------------------------------------------------------------------------------------------------*/
/*----------------------------------------- carte menu ----------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------*/

.card-menu {
    background-color: white;
    border-radius: 2vh;
    height:9vh;
    display:flex;
    box-shadow: $border-shadow-vh; /* ombre*/
    margin:1vh;
    align-items:center;
    cursor: url('/images/logo/valid.png'), auto;
    justify-content: space-between;
    width: 95%;


}
.menu-item{
    width: 100%;
}

.dish-name {
    font-size: $font-size-vh-base;
    font-weight: $font-weight-h-bold;
    padding-left: 1vh;
}

.dish-description {
    font-size: $font-size-vh-base;
    word-spacing: -0.2vh; /* Réduit l'espacement entre les mots */
    padding: 0 1vh;
    

}
.dish-content {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.dish-content .price {
    font-size: $font-size-vh-base; /* Ajuste la taille pour qu'elle corresponde au texte */
    font-weight: $font-weight-h-bold; /* Assure la cohérence du style */
    padding-right: 1vh;
}
/* ---------------------------------------------------------------------------------------------------*/
/*----------------------------------------- Footer Carte----------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------*/


.footer-card {
    padding:2vh;
}
.fa-handshake, .fa-utensils {
    margin-right:2vh;
    margin-left:0;
    color:white
}

.fa-handshake {
    transform:scaleX(1)rotate(325deg);
    font-size: 1.5vh;
}
.footer-card li {
    margin-top:1vh;
}

.footer-card img {
    background-color:white;
    width: 30%;
    filter:invert(100%);
    margin:1vh 0;
    padding-bottom: 1vh;

}