/*_card.scss */

.card-logo {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: $margin-vh-base 0;
}

.card-location {
    display: flex;
    justify-content: center;
    gap: 2vh;
    background-color: $primary-background-color;
    width: 20vh;
    padding: $padding-vh-base $padding-vh-base;
    
}

/*----------- Cartes restaurants -----------*/
.card {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-vh-base;
    box-shadow: $border-shadow-vw; 
    height: 30vh;

}
.card img {
    width: 100%;
    border-radius: $border-radius-vh-base   $border-radius-vh-base 0 0;
    height:20vh;
    object-fit: cover;
    position: relative;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position:relative;
    z-index: 2;
    bottom:1vh;
    left: 1vh;

}
.card .badge {
    display: flex;
    position : relative;
    z-index: 3;
    left: 70%;
    bottom: 60%;;
}
.card .card-content .card-title  {
    font-size: $font-size-vh-base;
}

.card .card-content .card-title h3 {
    font-weight: $font-weight-h-bold;
}
